[2022-04-02 03:54] pravee42 commented on #971
You can just install `sklearn` manually until they will update they update the module

[2022-04-02 07:20] shiyu22 commented on #876
Because of the large files are downloading with git-lfs.

I think we can report an error when git-lfs is not installed on the system, which means that git-lfs needs to be installed before using towhee hub.

[2022-04-02 07:27] shiyu22 commented on #950
close #979 #958

[2022-04-02 07:27] #950 closed

[2022-04-02 07:29] shiyu22 commented on #971
#981

[2022-04-02 07:29] #971 closed

[2022-04-02 07:29] shiyu22 commented on #935
#981

[2022-04-02 07:29] #935 closed

[2022-04-02 09:24] #967 closed

[2022-04-02 09:28] fzliu commented on #978
Try any of our `xcit-nano` pipelines, e.g. `image-embedding-xcit-nano-12-p8-224-dist`. These have low-dimensional penultimate layers, which should result in much faster retrieval.

[2022-04-02 09:54] emmataobao commented on #978
thank you

[2022-04-02 09:54] #978 closed

[2022-04-02 10:14] reiase commented on #853
fixed

[2022-04-02 10:14] #853 closed

[2022-04-02 10:15] #642 closed

[2022-04-02 10:15] #672 closed

[2022-04-02 10:15] #712 closed

[2022-04-02 10:16] #751 closed

[2022-04-02 10:18] reiase opened #1006 "[Documentation]: get-started for tabular data with dc and entity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

get-started for tabular data with dc and entity

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-02 10:19] reiase commented on #870
create a new issue for the get started document for tabular data #1006

[2022-04-02 10:19] #870 closed

[2022-04-02 10:19] #871 closed

[2022-04-02 10:21] reiase commented on #839
#844

[2022-04-02 10:22] #839 closed

[2022-04-06 01:26] emmataobao opened #1008 "[question]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

https://docs.towhee.io/img/logo.png
Does the path support S3?

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-04-06 01:48] fzliu commented on #1008
Towhee supports any http-based URL, including S3 path-style URLs e.g. `https://s3.us-west-2.amazonaws.com/mybucket/puppy.jpg`. However, we do not yet support links that begin with `S3://`.

[2022-04-06 01:58] emmataobao commented on #1008
thank you

[2022-04-06 01:58] #1008 closed

[2022-04-06 02:31] GuoRentong opened #1013 "[Feature]: Add towhee.dc for easy DataCollection creation."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

The reasons why we need a convenience function `towhee.dc` for DataCollection creation
* The name towhee.DataCollection is too long for a frequent used interface
* Adding a light layer above towhee.DataCollection will offer the space for developi

[2022-04-06 02:37] fzliu commented on #1008
You're very welcome - if you have further questions, feel free to join our [Slack](https://slack.towhee.io). You'll get a quicker response from us and I'll be able to loop in more team members to help you with any issues you're facing.

[2022-04-06 02:59] emmataobao opened #1015 "[Bug]: Version inconsistency test error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

towhee version 0.2.0 no problem ，but An exception occurs when switching to the latest version。
![image](https://user-images.githubusercontent.com/46233536/161886775-f1cdbdb7-8890-4f1c-b52b-82a714aebac1.png)
Error with extracting feature from image 'float' object is not subscriptable

![image]

[2022-04-06 03:04] #1015 closed

[2022-04-06 03:10] jaelgu commented on #1015
@emmataobao The image-embedding pipelines have been optimized and changed to adapt new versions since towhee 0.4. Here are solution options:
1. If you want to use towhee>0.2, then you need to update the local pipelines & operators:
    1. Remove local directory of towhee pipelines & operators
       `rm ~/.towhee`
    2. Modify your code to adapt new pipeline output (You should just remove [0][0]

[2022-04-06 03:22] emmataobao commented on #1015
@jaelgu  yes，issue from Milvus Bootcamp。
But I found that the two versions produce very different vectors。
towhee =0.2

[2022-04-06 03:25] emmataobao commented on #1015
@jaelgu yes， issue from Milvus Bootcamp。
But I found that the two versions produce very different vectors, embedding_pipeline = pipeline('image-embedding')
towhee =0.2
![image](https://user-images.githubusercontent.com/46233536/161889698-49553c68-31f4-4b5a-ac3b-9b952a6eb47d.png)
towhee =0.5
![image](https://user-images.githubusercontent.com/46233536/161889830-6c2c4f29-974e-42b4-8365-6283b0c86e15.p

[2022-04-06 03:41] fzliu commented on #1015
With Towhee 0.5, we used the post-activation embeddings, which means that approximately half of the values in your resultant vector will be 0 since Resnet50 uses ReLU.

The result you are getting is normal.

[2022-04-06 07:27] #877 closed

[2022-04-06 08:40] junjiejiangjjj opened #1021 "[Bug]: Can not find op in towhee hub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

![oNybvbGhLb](https://user-images.githubusercontent.com/14136703/161932783-c06f9fe9-a211-432e-9d4e-14b5a9647e20.png)

Because in `towhee/functional/mixins/dataset.py`, there have the tow functions.
![acL9OSVXcB](https://user-images.githubusercontent.com/14136703/161932501-408ded85-933

[2022-04-06 08:43] junjiejiangjjj opened #1022 "[Bug]: Can not get audio_decode.ffmpeg's results."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![UlKAYjHFIu](https://user-images.githubusercontent.com/14136703/161933665-8b2d7896-f765-47c2-ace8-4b15efc23267.png)

The operator `audio-decode/ffmpeg`  returns a generator, when using `dc` to call this operator, it can not return the real result of this op.

### Expected Behavior

_No respo

[2022-04-06 09:06] reiase commented on #1022
you can unwrap the generator with `flaten`:
[code]

[2022-04-06 10:59] junjiejiangjjj commented on #1022
Another problem:
![image](https://user-images.githubusercontent.com/14136703/161960364-fbbf9938-1cfd-4ae7-a19e-a1318c404d57.png)
![image](https://user-images.githubusercontent.com/14136703/161960396-b9c4236b-e7e9-4414-a4f4-a8c802bde491.png)

[2022-04-06 21:39] filip-halt commented on #1013
I believe we currently allow using just towhee.glob(), towhee.range(), etc. without the DataCollection.

[2022-04-07 03:05] #876 closed

[2022-04-07 03:09] #1013 closed

[2022-04-07 03:09] reiase opened #1028 "async computation task that support chunked execution"
I suggest we have a common task class that represents such async computations. The task class also can support chunked execution which is able to reduce schedule overhead.

_Originally posted by @reiase in https://github.com/towhee-io/towhee/pull/1024#discussion_r844595554_

[2022-04-07 18:39] filip-halt commented on #1028
chunked execution as in waiting for 'x' amount of data before sending the data to the worker?

[2022-04-08 02:59] lilianfan opened #1036 "[Bug]: 404 https://hub.towhee.io/api/v1/repos/shiyu/img_object_embedding_pytorch_yolov5_resnet50"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

404  https://hub.towhee.io/api/v1/repos/shiyu/img_object_embedding_pytorch_yolov5_resnet50

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-04-08 03:01] fzliu commented on #1036
Hey @lilianfan, welcome to the Towhee community.  We've deprecated that repo in favor of a different pipeline naming scheme.

@shiyu22 can you update the repo along with bootcamp when you're free?

[2022-04-08 04:44] AniTho commented on #851
I can take this issue, if possible.

[2022-04-08 04:51] GuoRentong commented on #851
please join our slack for detail discussion :)

[2022-04-08 05:31] GuoRentong commented on #851
Hi, Ani
Thanks for taking this issue! We are planning to make an image style translation demo, and #851 is closely related to this work. If you are interested in developing this fancy demo, please find RT Guo, Frank, or Shiyu on our slack, so that we can discuss the details.

[2022-04-08 07:34] jingkl opened #1041 "[Bug]: Running image pipeline reports an error, reporting that git-lfs needs to be installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-04-08 07:58] jingkl opened #1042 "[Bug]: Running the select case reports an error“TypeError: 'NoneType' object is not iterable”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-04-08 08:01] jingkl opened #1043 "[Enhancement]: Inconsistent results in documented cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Running the case returns no True

[code]

<img width="683" alt="截屏2022-04-08 15 48 11" src="https://user-images.githubusercontent.com/34296482/162392099-8f935ca0-ff87-4665-bdd4-5a619e637059.png">

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-08 08:41] emmataobao opened #1044 "[Bug]: I use the same model, windos and linux generate completely different vectors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

model towhee/image-embedding-regnetx-016
path  photo/202008/13/mapp202008130105517751.jpg
Windows 10  python 3.9 towhee 0.5.1
vector
centos 7 python 3.7 towhee 0.5.1

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No

[2022-04-08 08:43] emmataobao commented on #1044
![image (1)](https://user-images.githubusercontent.com/46233536/162399429-cb109fba-427f-4958-a9e2-8eb9794cb3e8.png)
![image](https://user-images.githubusercontent.com/46233536/162399458-c7e75754-07f7-4552-8c0d-a8d9521cef87.png)

[2022-04-08 08:51] reiase commented on #1042
try to use `dc.select['a']().to_list()` at the last line

[2022-04-08 08:55] reiase commented on #1042
@shiyu22 please also take a look at this issue. We'd better not throw the NoneType exception on wrong arguments.

[2022-04-08 09:53] reiase opened #1048 "use jinja2 for html templating"
I think we'd better use jinja2 for html templating. The code would be much cleaner.

_Originally posted by @reiase in https://github.com/towhee-io/towhee/issues/1046#issuecomment-1092685922_

[2022-04-08 10:17] binbinlv commented on #1044
Actually, I found the difference is at the last bits of each element, for example:
"0.021529437974095345" and "0.0215294249355793", " it is the same with the previous 7 bits "0.0215294", and the remaining is different.

I think this may be the difference between different OS and different python version.

@filip-halt  Could you help to have a look too? Thanks.

[2022-04-08 10:44] jaelgu commented on #1044
@emmataobao Can you check what is your output dtype? I've checked this pipeline and its output has dtype=float32. But according to your results, it looks like your dtype is about float64. If so, then the extra floats expanded are not precise for sure.

You may try several times in the same environment and to see if it still gives the exactly same results.

[2022-04-08 10:47] jingkl opened #1050 "[Bug]: After running the document example, the error "name 'hyperparameter' is not defined" is reported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
<img width="780" alt="截屏2022-04-08 18 46 15" src="https://user-images.githubusercontent.com/34296482/162420919-80c82e9e-9385-447f-8b4a-76e87f5275ff.png">

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No respo

[2022-04-08 11:01] #1050 closed

[2022-04-08 11:13] jingkl commented on #1041
After verification, an error will be reported
<img width="1440" alt="截屏2022-04-08 19 12 27" src="https://user-images.githubusercontent.com/34296482/162424837-adc979fc-9bf3-4d63-bab5-d862aed60073.png">

[2022-04-08 11:18] binbinlv commented on #1043
@jingkl
please verify this issue.

[2022-04-08 11:19] binbinlv commented on #1042
@jingkl
please verify this issue, thanks.

[2022-04-08 11:24] jingkl commented on #1042
It has been verified, no problem

[2022-04-08 11:24] #1042 closed

[2022-04-08 11:24] jingkl commented on #1043
It has been verified, no problem

[2022-04-08 11:24] #1043 closed

[2022-04-08 11:58] jingkl commented on #1041
It has been verified, no problem
<img width="1425" alt="截屏2022-04-08 19 57 49" src="https://user-images.githubusercontent.com/34296482/162431108-2b4f7461-868c-4d71-81d5-ea5a4caca335.png">

[2022-04-08 12:07] jingkl commented on #1041
No problem. Close the issue

[2022-04-08 12:07] #1041 closed

[2022-04-08 21:01] fzliu commented on #1044
The results that you see are normal and are a result of floating point inaccuracies between the two operating systems. Do you need the vectors to be entirely identical between the two? if you want to check for equality, you should be able to use `numpy.isclose`.

[2022-04-11 01:19] #1044 closed

[2022-04-11 01:24] emmataobao opened #1059 "[Feature]: How to configure parameters or optimize feature extraction"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

Test 30,000 images to complete the recognition in 48 minutes. How can I improve the recognition speed, increase the server or optimize something.The time to recognize an image is between 5 seconds and 300 milliseconds。

### Describe the solution

[2022-04-11 01:40] fzliu commented on #1059
Which embedding pipeline are you using? Also, what kind of hardware (CPU/GPU) and server resources do you have?

[2022-04-11 01:48] emmataobao commented on #1059
towhee/image-embedding-regnetx-016

[2022-04-11 02:06] emmataobao commented on #1059
@fzliu @reiase towhee/image-embedding-regnetx-016 towhee=0.5.1
![image](https://user-images.githubusercontent.com/46233536/162652851-9a40bb7a-59b6-41a4-abc8-8df59d10220e.png)
The current test is the cpu server. Currently, both cpu and gpu servers are available.
I don't know how to improve the utilization of server resources to speed up feature extraction

[2022-04-11 02:26] reiase commented on #1059
you can compute on a large-scale dataset with the data collection API
[code]

to improve cpu utilization, you can enable parallel execution by `set_parallel(num_thread)`:
[code]

in order to use the data collection API, you need to update to towhee 0.6 by
[code]

[2022-04-11 04:48] fzliu commented on #1059
GPU auto-batching has already been implemented, but it hasn't been tested yet. It's in our roadmap for the next sub-release, i.e. 0.6.1. In the meantime, you can try @reiase's suggestion above to see if that improves performance.

[2022-04-11 09:06] #1059 closed

[2022-04-11 14:05] harsh2ai commented on #851
Is this issue still open? I would like to contribute to this as well

[2022-04-11 15:49] krishnakatyal commented on #851
Hello harsh kindly join our slack https://slack.towhee.io/

[2022-04-12 01:52] shiyu22 commented on #851
@harsh2ai Hi, I think Aniket has submitted a PR #1065 for it, maybe you can take another GFI.

[2022-04-12 07:00] reiase opened #1070 "[DesignProposal]: towhee command line tool for pipeline serve"
### Background and Motivation

There are many predefined pipelines and operators on towhee hub. The users may want to deploy the pipelines and operators to cloud platforms.

### Design

Provide a command-line tool for pipeline/operator serving:

[code]

towhee serve [-h host] [-p port] [-r route] [-D arg=val -D arg=val] pipeline/operator_name

### Pros and Cons

_No response_

### Anything else? (

[2022-04-12 09:19] Chiiizzzy opened #1071 "[DesignProposal]: Refactor Entity class(column-based)"
### Background and Motivation

_No response_

### Design

- ColumnBasedTable:
	We hold a column-based table to store our data, each table has schema and size-limit.
- Entity:
	Each Entity has an index n, points to the n-th element in the column-based table.

[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-04-13 02:21] shiyu22 commented on #1036
Hi @lilianfan, actually I have updated this pipeline to [img_object_embedding](https://towhee.io/towhee/img_object_embedding), but it's for towhee0.2.0.

I think that you can use the latest operator to detect objects, refer to https://towhee.io/object-detection/yolov5.

[2022-04-13 02:24] shiyu22 commented on #921
#1032

[2022-04-13 02:24] #921 closed

[2022-04-13 03:57] GuoRentong commented on #1070
lgtm

[2022-04-14 02:36] jingkl commented on #728
keep it open

[2022-04-14 02:51] shiyu22 opened #1079 "[DesignProposal]: Search embedding vectors in Milvus"
### Background and Motivation

We usually use towhee to generate embeddings, it would be better to integrate [Milvus](https://milvus.io/) to search vectors.

### Design

For now, there is an operator to search similar vectors:
[code]
We can also search large-scale vector in Milvus:
[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-04-14 03:28] shiyu22 opened #1080 "[DesignProposal]: Search embedding vectors in Faiss"
### Background and Motivation

Same as #1079, towhee can also search vectors in [Faiss](https://github.com/facebookresearch/faiss).

### Design

[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-04-14 11:00] chrisyoung123 opened #1081 "gpu support problem"
[code]

[2022-04-15 21:48] fzliu commented on #1081
Hey @chrisyoung123, welcome to the Towhee community. GPU auto-batching (the ability to automatically compute embeddings on an NVIDIA GPU, if one is detected) is in our roadmap for the upcoming version. Can you tell us a bit more about your application? There may be other ways to speed up your code.

[2022-04-16 23:11] omartarek206 commented on #796
Hello @soulteary, if you can still share it it would be great.

[2022-04-16 23:25] omartarek206 opened #1085 "[Documentation]: Towhee style guide link in contributing.md is broken."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

### When a user opens the [contributing.md](https://github.com/towhee-io/towhee/blob/main/CONTRIBUTING.md) file, then clicks on [Towhee style guide](https://github.com/towhee-io/towhee/STYLE_GUIDE.md) link.
![image](https://user-images.githubusercontent.com/40853054/163694075-5bb57f37-59ba-4c

[2022-04-17 00:11] omartarek206 commented on #1085
I have found another broken link in contributing.md which is get in touch link in line 11.
Both were modified in Pull request #1086

[2022-04-17 01:25] fzliu commented on #1085
@omartarek206 Welcome to the Towhee community. Your PR looks good - once CI/CD finishes, I'll merge your changes. Thanks for contributing!

[2022-04-18 03:07] #1085 closed

[2022-04-18 03:26] omartarek206 commented on #894
Hello, can I work on this issue?

[2022-04-18 08:56] reiase opened #1090 "[Enhancement]: Standarized benchmark for execution backends"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Add some benchmark for towhee's execution backends.

A good example of framework benchmark:
https://github.com/ray-project/ray/tree/master/python/ray/serve/benchmarks

### Why is this needed?

It's better to know system performance before making design and optimization.

### A

[2022-04-19 02:11] soulteary opened #1093 "[Feature]: new method for saving results"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

hello maintainers 👋

I saw in the project that we can use the `show` method to display the results. But I didn't find a way to save these results.

https://github.com/towhee-io/towhee/blob/531b7144e2aec2b6e84d6b18351c509eb80cbb26/towhee/functiona

[2022-04-19 04:29] #538 closed

[2022-04-19 08:46] chrisyoung123 commented on #1081
i am tring to compute 100k imgs's embeding vector, and save them, if my changs make computing runing on gpu, it takes 4-5s ,how it that possible. vector is 8kB size, the whole should not take that long

[2022-04-19 11:44] shiyu22 opened #1098 "[Enhancement]: Show a list of entities in one cell"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support show entity list in one cell, like this:
[code]

### Why is this needed?

In the example of reverse image search, it cannot show the results from `milvus_search`.
![rHTkJg29Bb](https://user-images.githubusercontent.com/53459423/163995339-cb416df6-b291-47a6-a488-f32d7f4

[2022-04-20 02:25] lilianfan commented on #1036
thank you

[2022-04-20 03:33] junjiejiangjjj opened #1100 "[Bug]: Buildin op dependence"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![yCMpn24V8P](https://user-images.githubusercontent.com/14136703/164144970-38b49c22-3b34-44fa-9a3b-2bde7809df5e.png)

My pipeline doesn't use buildin operators but occurs this error.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Any

[2022-04-20 06:57] wxywb opened #1102 "[Enhancement]: Initialize the model only once for multiple calls(DC API)."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Initialize once(build the model, load the weights) for the following executions.

### Why is this needed?

It will reduce the data inference latency for each call.

### Anything else?

None

[2022-04-20 20:12] filip-halt opened #1106 "[Bug]: Path.unlink() command unexpected keyword argument 'missing_ok'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

missing_ok keyword was added in 3.8

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-04-20 23:11] #821 closed

[2022-04-20 23:11] #816 closed

[2022-04-21 01:52] reiase opened #1109 "[Enhancement]: modernize towhee project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Reorganize the project with modernized infrastructure, such as pytest and tox:
1. clean up the build tools:
    - [x] move metadata and options into setup.cfg;
    - [x] move sphinx configuration into setup.cfg;
    - [x] drop pyproject.toml;
    - [x] drop  coveragerc;
2. ref

[2022-04-21 03:32] reiase opened #1111 "[Enhancement]: run the unit tests with different python versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

run the unit tests with different python versions

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-21 03:33] reiase opened #1112 "[Enhancement]: run the unit tests against different PyTorch and TorchVision versions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

run the unit tests against different PyTorch and TorchVision versions

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-21 09:27] #1093 closed

[2022-04-21 10:41] reiase commented on #1093
@soulteary We have just implemented a `to_csv` method, you can make a try.

[2022-04-22 07:06] reiase opened #1122 "[DesignProposal]: Serve a DataCollection as RESTful API"
### Background and Motivation

_No response_

### Design

1. start a RESTful service

[code]

2. convert data collection into a callable function:

[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-04-22 10:52] shiyu22 commented on #1079
Complete it with #1089

[2022-04-22 10:52] #1079 closed

[2022-04-23 10:17] aadityasinha-dotcom commented on #894
Hey can I work on this issue?

[2022-04-23 23:06] fzliu commented on #1081
100k images will take quite a while on a CPU, depending on the model that you are using. #1123 introduces GPU auto-batching which should help.

[2022-04-24 08:24] #1122 closed

[2022-04-26 02:02] shiyu22 opened #1146 "[Enhancement]: Run towhee.api and report the error message."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

When running with towhee.api, it will return `<towhee.functional.option._Reason at 0x7f8ffc917a90>`, I think it must have some exception in my function, but how can report the error message?

### Why is this needed?

I cann't debug my function with the return `<towhee.function

[2022-04-26 08:14] shiyu22 opened #1149 "[DesignProposal]: Itergate ANNS in Towhee"
### Background and Motivation

The Approximate Nearest Neighbor Search (ANNS) algorithm is used to search the embedding vectors efficiently, and towhee can integrate them.

### Design

There is an example for reverse image search with [Milvus](https://milvus.io/), which is an open-source vector database. I think it can be used in each ANNS lib or tool.
For inserting data:
[code]
For searching:
[co

[2022-04-26 08:17] reiase commented on #1149
we should also support milvus insert without batching:
[code]

[2022-04-27 11:02] reiase opened #1158 "[Enhancement]: Support GPU in data collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Support GPU in data collection, for example:

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-04-27 22:46] filip-halt commented on #1158
wouldnt it have to be something like GPU[0].towhee.image_embedding(). Is callholder able to look indefinitely deep?

[2022-04-28 07:06] jaelgu opened #1165 "[Enhancement]: Split base models from towhee.models.tsm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Todo based on pr: #1148

1. Split base models (mobilenet, inception, etc.) from towhee.models.tsm as individual towhee.models
2. Add ut to increase coverage

### Why is this needed?

- Refactor modules to have more clear structure
- Make base models reusable
- Increase code co

[2022-04-28 13:09] reiase commented on #1158
It can't, but we can modify the call holder if necessary.

[2022-04-28 13:25] reiase opened #1168 "[DesignProposal]: Batch operations for entities."
### Background and Motivation

1. DataCollection support `batch` and `rolling` operations;
2. There lacks a field-awared batching for entities;

### Design

1. batching;

[code]

2. rolling:

[code]

3. entity_batch:

[code]

4. group_by:
[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-05-05 02:19] jaelgu opened #1177 "[Bug]: Fail to launch terminal in Quick Start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Click "Launch Terminal" at https://docs.towhee.io/Getting%20Started/quick-start/ :

"This environment is no longer available."

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/86251631/166854696-928e703a-de70-4bcb-b6b1-9f3fd0c8be77.png">

### Expected Behavior

Be

[2022-05-05 02:25] binbinlv commented on #1177
@Tumao727

could you help to investigate this? Thanks

[2022-05-05 02:33] Tumao727 commented on #1177
I can't reproduce the problem...

<img width="1470" alt="截屏2022-05-05 上午10 30 05" src="https://user-images.githubusercontent.com/20420181/166855875-6f57cf16-880d-49e2-8ee3-0fa85266ccea.png">

[2022-05-05 02:36] binbinlv commented on #1177
I try this too and it is the same with @jaelgu

[code]

[2022-05-05 02:41] binbinlv commented on #1177
Close the VPN, and it is OK now.

[2022-05-05 07:01] krishnakatyal opened #1182 "[Bug]: The requirements are not downloaded (No module name scipy)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when towhee is installed on a new system the required dependencies do not get installed
This issue is same as [this issue
](https://github.com/towhee-io/towhee/issues/952)

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No r

[2022-05-05 13:24] jaelgu opened #1183 "[Documentation]: Add link of coverage report at README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Broken links at README: pylint & coverage (404)
- coverage link: (open as public &) add coverage report from codecov: https://app.codecov.io/gh/towhee-io/towhee
- Add some link to pylint as well.

<img width="893" alt="image" src="https://user-images

[2022-05-06 02:53] shiyu22 opened #1189 "[Bug]: Image decode with parallel will get error "No such file or directory""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run `set_parallel` with `image_decode`, will get error:
[code]

and the code is:
[code]

But if I run `set_parallel` after `image_decode`, it works.
[code]

### Expected Behavior

No error.

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

This error

[2022-05-06 09:17] xwy2258 opened #1201 "[Bug]: 504 Server Error: Gateway Time-out for url: https://hub.towhee.io/api/v1/repos/towhee/image-decode/commits?limit=1&page=1&sha=main"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 towhee.glob(img_path) \
                         .image_decode()

运行这里时，发生错误
504 Server Error: Gateway Time-out for url: https://hub.towhee.io/api/v1/repos/towhee/image-decode/commits?limit=1&page=1&sha=main

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### En

[2022-05-06 14:38] #1165 closed

[2022-05-06 21:50] fzliu commented on #1201
Please bear with us as we roll out a fix. I'll post here as soon as that's done.

[2022-05-07 06:10] fzliu commented on #1182
#1186

[2022-05-07 06:11] #1182 closed

[2022-05-07 06:13] fzliu commented on #1177
Closing this as many of us were unable to reproduce this issue (myself included). As @binbinlv mentioned, it seems to be due to VPN usage.

[2022-05-07 06:13] #1177 closed

[2022-05-07 07:01] jaelgu commented on #1201
Updated behavio with towhee 0.6.0:
- with vpn: all good
- without vpn: connection refused (fail to download operator `image-decode/cv2` to local)

@junjiejiangjjj @reiase @fzliu Please take a look at this.

[2022-05-09 19:44] filip-halt commented on #1189
@assign @filip-halt

[2022-05-10 02:55] junjiejiangjjj commented on #1189
This error is caused by the timm-model, not image-decode, because there is not enough GPU memory to load the timm-model. I don't know why towhee print these errors, we should improve the error system.

[2022-05-10 02:59] fzliu commented on #1201
@xwy2258 @hyyz17200 Can you try again? Our hub should be working normally now.

[2022-05-10 03:08] hyyz17200 commented on #1201
Yeah it's working. In fact it was recovered, a few hours after my reply.

Thanks!

[2022-05-10 07:19] binbinlv opened #1214 "[Bug]: ModuleNotFoundError "No module named 'scipy'" when importing pipeline from towhee"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

1. Create a new virtual env of python3.6 (or python3.8, all the python versions)
2. install latest towhee from testpypi:

[code]

3. Run
[code]

### Environment

[code]

### Anything else?

_No response_

[2022-05-10 07:31] binbinlv commented on #1201
@hyyz17200
hello, could you please close this issue if it has been fixed now, thanks.

[2022-05-10 07:35] #1021 closed

[2022-05-10 07:35] binbinlv commented on #1036
@lilianfan
hello, could you please close this issue if the problem you addressed has been solved? Thanks.

[2022-05-10 07:50] jingkl opened #1216 "[Bug]: Error on Operator creation in towhee cmd"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

run `towhee create-op -t pyop -d test test-add`

<img width="1440" alt="截屏2022-05-10 15 42 31" src="https://user-images.githubusercontent.com/34296482/167576809-1e3bb1c1-838f-4e1a-a123-ad4f1bdea901.png">

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environ

[2022-05-10 07:54] jingkl opened #1217 "[Bug]: The official get started page on the website reports a 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Should we jump to a page
<img width="1255" alt="截屏2022-05-10 15 51 20" src="https://user-images.githubusercontent.com/34296482/167577654-08d1f0a2-c355-470e-b105-93f43d46d799.png">
<img width="1399" alt="截屏2022-05-10 15 51 28" src="https://user-images.githubusercontent.com/34296482/167577684-b

[2022-05-10 08:47] Chiiizzzy commented on #1214
It is an expected result because we don't want to introduce scipy as towhee's dependency. Therefore we raise such Error and tell users to manually install scipy.

[2022-05-10 08:47] Chiiizzzy commented on #1100
It is an expected result because we don't want to introduce scipy as towhee's dependency. Therefore we raise such Error and tell users to manually install scipy.

[2022-05-10 08:47] #1100 closed

[2022-05-10 09:03] binbinlv commented on #1214
Here this error is reported just from the first step of using towhee "from towhee import pipeline".

Could we not depends on this module just from the beginning of import pipeline? just report this error wherever using this module?

[2022-05-10 21:27] fzliu opened #1221 "[Enhancement]: Redirect `hub.towhee.io` to `towhee.io`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Redirect `hub.towhee.io` -> `towhee.io`.

### Why is this needed?

`hub.towhee.io` displays an empty list of operators and pipelines. Adding an automatic redirect to `towhee.io` will reduce confusion.

### Anything else?

_No response_

[2022-05-10 21:33] filip-halt commented on #1214
Its because we are forcing import of sklearn.py in [preclude](https://github.com/towhee-io/towhee/blob/main/towhee/hub/preclude/__init__.py). This causes the scipy check. One way to get around it is to do nested imports of scipy within sklearn.py

[2022-05-11 02:05] #1189 closed

[2022-05-11 02:07] shiyu22 commented on #1098
Done #1135

[2022-05-11 02:07] #1098 closed

[2022-05-11 02:30] jingkl opened #1222 "[Bug]: bootcamp search similar images when the results are not similar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

No matter what image is used, the result is this
<img width="1271" alt="截屏2022-05-11 10 18 44" src="https://user-images.githubusercontent.com/34296482/167756791-5923203c-aa77-44fc-b2eb-2a2fb2550c56.png">
<img width="762" alt="截屏2022-05-11 10 24 38" src="https://user-images.githubusercontent.c

[2022-05-11 03:36] #1222 closed

[2022-05-11 07:04] jingkl commented on #1216
cmd is not in this release, so no such questions will be verified

[2022-05-11 07:04] #1216 closed

[2022-05-12 08:50] binbinlv opened #1238 "[Bug]: The previous pipeline "towhee/image-embedding-inception-resnet-v2" is not found now"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The previous pipeline "towhee/image-embedding-inception-resnet-v2" is not found now
[code]

### Expected Behavior

pipeline "towhee/image-embedding-inception-resnet-v2"  runs successfully

### Steps To Reproduce

[code]
[code]

### Anything else?

_No response_

[2022-05-12 08:51] binbinlv commented on #1238
@reiase @filip-halt
could you please have a look? thank.

[2022-05-12 09:13] binbinlv commented on #1214
Reopen for verification.

[2022-05-12 10:05] binbinlv opened #1241 "[Bug]: Call “DataCollection.stream” failed reporting "AttributeError: 'range' object has no attribute 'is_stream'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No errors

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-05-12 12:39] binbinlv commented on #1214
Verified in 0.6.1.dev117, it is fixed.

[2022-05-12 12:39] #1214 closed

[2022-05-12 20:02] filip-halt commented on #1241
stream() is not longer a producing method. this line is now DataCollection(range(10000)).stream()

[2022-05-12 20:29] filip-halt opened #1242 "[Enhancement]: Reuse actorpools for stateless ops"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Instead of generating new actor pools for every DC op, reuse the actors of stateless ops.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-13 01:43] binbinlv commented on #1241
https://docs.towhee.io/User%20Guides/DataCollection/data-collection/

So the doc about stream() should be modified?

![image](https://user-images.githubusercontent.com/83755740/168194582-e1a680d2-ccb4-4406-b839-c94979efbe24.png)

[2022-05-13 03:31] shiyu22 commented on #1238
Update the request in towhee #1243.

[2022-05-13 05:11] binbinlv commented on #1238
Reopen for verification.

[2022-05-13 05:12] binbinlv commented on #1238
verified and fixed:
[code]

[2022-05-13 05:12] #1238 closed

[2022-05-13 06:56] jingkl commented on #1217
<img width="1344" alt="截屏2022-05-13 14 44 18" src="https://user-images.githubusercontent.com/34296482/168227828-1efe3306-8494-47c7-a64a-06bd2f20f6f8.png">
Reverse image search page won't open，reported 404
Image Deduplication page won't open，If it does not exist, it should not be able to jump the page
Music Recognition System page won't open，If it does not exist, it should not be able to jump the p

[2022-05-13 06:57] binbinlv commented on #1241
fixed, and closed.

[2022-05-13 06:57] #1241 closed

[2022-05-13 07:36] binbinlv commented on #1217
@jingkl Could you please help to verify? thanks.

[2022-05-13 07:59] fzliu commented on #1183
Fixed via #1212.

[2022-05-13 07:59] #1183 closed

[2022-05-13 08:01] fzliu commented on #1217
Ok to close as the new link works for me.

[2022-05-13 08:05] jingkl commented on #1217
Still can't open the page
<img width="975" alt="截屏2022-05-13 16 04 29" src="https://user-images.githubusercontent.com/34296482/168239219-74b82485-2d62-41a6-a0ba-e3ec154f4f79.png">

[2022-05-13 08:07] binbinlv commented on #1217
It is still 404 for me.
![image](https://user-images.githubusercontent.com/83755740/168239574-929baed0-f07a-4bae-a881-581516cffd52.png)

[2022-05-13 08:43] GuoRentong commented on #1168
it seems that batch and rolling are the same functionality with different steps.

[2022-05-13 09:03] GuoRentong opened #1248 "[DesignProposal]: Add logical graph and introduce the concepts of transformations and actions"
### Background and Motivation

In our current design, the op-dc graph and execution are closely coupled, there is no room for planning and optimization such as graph rewrite, lazy execution, or making clean execution engine adaption.
To solve the problems mentioned above, A layer of logical graph should be introduced between the representation layer (DataCollection API) and execution layer (execut

[2022-05-13 09:44] jingkl commented on #1217
Already verified and fixed
<img width="1299" alt="截屏2022-05-13 17 44 02" src="https://user-images.githubusercontent.com/34296482/168257578-a29896fb-4e29-49d0-861a-c0f0c00c1d28.png">

[2022-05-13 13:11] reiase commented on #1168
Yea, pandas support both `batch` and `rolling`.

[2022-05-13 13:20] reiase commented on #1248
We can't use `unpack` for stream DAG? For example, the data source DC is reading the camera, what happens if we call `unpack`?

[2022-05-13 13:26] reiase commented on #1248
As the design of spark, all data sink, such as to_csv, to_excel, to_sql, and to_milvus should also be actions. And there are two kinds of API for data sinks:

[code]
the user can register new data sink plugins by themselves.

[code]

[2022-05-13 18:31] filip-halt commented on #1248
https://github.com/towhee-io/towhee/pull/1162/files

[2022-05-13 20:03] fzliu commented on #1248
What is the difference between `collect` and `unpack`?

[2022-05-13 20:05] fzliu commented on #1248
`DataCollection` should refer to the API only. Each transformation should ideally write data into a Towhee `DataFrame` or [Arrow](https://arrow.apache.org/) container to maintain some compatibility with the old engine.

[2022-05-13 20:09] fzliu commented on #1248
Will scheduling will be done in the same layer as the logical graph?

[2022-05-13 20:45] filip-halt commented on #1248
Should the dag hold DC objects that are in memory or should it represent the DC objects with unique ids? Should the operator be the actual callable or should it hold its name and args? If we store the actual DCs and Callables then we might have parallization and multiprocessing troubles later on.

[2022-05-14 12:35] reiase commented on #1248
One more thing, the design is for streamed data collection. And for unstreamed data collection, does it still behaviors as a python list?

[2022-05-17 12:53] #1201 closed

[2022-05-17 12:53] xwy2258 commented on #1201
thank you

[2022-05-18 09:34] yangmh66 opened #1259 "[Bug]: query_results got KeyError, e.g.: KeyError: 433287411896945480"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when tried to run the "reverse_image_search.ipynb", got the error:
![image](https://user-images.githubusercontent.com/17701158/169006208-b3aa84e4-4466-4a2f-95d0-f0b346c4b98a.png)

### Expected Behavior

expect got the top-k results' files index id.

### Steps To Reproduce

[code]

### Environ

[2022-05-18 09:41] binbinlv commented on #1259
@jingkl is checking firstly.

[2022-05-18 09:41] jingkl commented on #1259
What are the versions of milvus and pymilvus respectively? @yangmh66

[2022-05-18 09:58] yangmh66 commented on #1259
docker image (followed the tutorial ipynb):  milvusdb/milvus:v2.0.0-pre-ga
pymilvus:  2.0.0rc9

[2022-05-18 10:05] binbinlv commented on #1259
Actually it is a little old now, and we reconstruct the example now, we will replace this old tutorial with the new one quickly.

And could you try the following new image search tutorial, thanks.

https://github.com/towhee-io/examples/tree/main/image/reverse_image_search

[2022-05-18 10:07] binbinlv commented on #1259
And also, @jingkl  is trying the old tutorial and check whether there is some problems about the code.

[2022-05-18 10:25] jingkl commented on #1259
milvus 2.0.0-pre-ga
pymilvus: 2.0.0rc9
<img width="715" alt="截屏2022-05-18 18 23 54" src="https://user-images.githubusercontent.com/34296482/169017778-db5351de-139e-4319-92ee-488631e789c8.png">

test image:
<img width="1368" alt="截屏2022-05-18 18 22 35" src="https://user-images.githubusercontent.com/34296482/169017680-77b9bc21-04c4-4ee2-be73-bf3dbfc8b560.png">
<img width="1375" alt="截屏2022-05-18 18

[2022-05-18 10:45] jingkl commented on #1259
I think the missing "/" in **data_path** and **query_img_path** causes the error as shown in the figure below @yangmh66
<img width="1185" alt="截屏2022-05-18 18 41 45" src="https://user-images.githubusercontent.com/34296482/169021164-cabb75ad-dd02-4752-ba62-454ebd9f7bb4.png">
<img width="1353" alt="截屏2022-05-18 18 41 52" src="https://user-images.githubusercontent.com/34296482/169021172-f2a387cf-fef8

[2022-05-18 10:50] jingkl opened #1261 "[Documentation]: This tutorial should be updated to the latest build_image_search_engine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

In our official website:

https://docs.towhee.io/Tutorials/Computer%20Vision/reverse-image-search/

The tutorial is just the old example, and we constructed the examples in 0.6.1, so should we replace this tutorial with the new one using the new exam

[2022-05-18 10:51] binbinlv commented on #1259
@yangmh66

So as @jingkl mentioned,  the problem is the sentence  in your code like "query_img_path = './image_dataset/query'" should be "query_img_path = './image_dataset/query/', you could have a try.

And welcome to try our new examples, thanks:
https://github.com/towhee-io/examples/tree/c72d675e1582feb9dd6befd096f4d7639c3b7415/image/reverse_image_search

[2022-05-18 11:01] binbinlv commented on #1261
@reiase @shiyu22 could you please help to have a look at this issue? Thanks.

[2022-05-19 09:15] reiase opened #1265 "reconsider the dependency of yarrow"
reconsider the dependency of yarrow

_Originally posted by @reiase in https://github.com/towhee-io/towhee/pull/1251#discussion_r876818326_

[2022-05-19 11:01] soulteary opened #1268 "[Enhancement]: automatically installing missing dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Towhee can automatically install dependencies that are missing from running models project.

### Why is this needed?

Hello maintainers 👋

In the process of using towhee, I encountered a missing dependency error reminder. Detailed bugs, which I have documented in this PR:

htt

[2022-05-20 00:14] filip-halt opened #1270 "[Bug]: to_milvus unstream is unnecessary and causes OOM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

to_milvus unstreams, causing a memory bottleneck. If inserting 100,000 images into milvus, the pipeline should be streamed.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-05-20 01:47] shiyu22 commented on #1270
`to_milvus` is unstream by default, in order to support inserting different data into different collections:
[code]

And anyone can add unstream=False to change the mode when using to_milvus, like `.to_milvus['id', 'vec'](collection=collection, batch=100, unstream=False)`.

[2022-05-20 01:49] shiyu22 commented on #1270
The default `unstream` mode may work for demos, how do you think? @filip-halt @reiase

[2022-05-20 01:55] binbinlv commented on #1261
@jingkl

could you please help to verify this issue, and please close it if it is fixed.

[2022-05-20 02:04] reiase commented on #1270
can we fix that by returning another DC in `to_milvus `

[2022-05-20 02:57] jingkl commented on #1261
<img width="855" alt="截屏2022-05-20 10 56 12" src="https://user-images.githubusercontent.com/34296482/169441310-bc64da84-55b0-4b2a-8131-dceff025e55e.png">
Already fixed, turn off issue

[2022-05-20 02:57] #1261 closed

[2022-05-20 06:45] Chiiizzzy opened #1275 "[Enhancement]: Some doctests are not included in our workflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

There are some doctests not included in our workflow:
- functional.__init__.py

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-21 04:58] #728 closed

[2022-05-21 11:18] aadityasinha-dotcom commented on #1221
Can I work on this issue?

[2022-05-22 13:05] reiase opened #1278 "using pip install -u when downloading packages"
I was originally going to do this but then I didnt because using -u will mess up if the user is using a virtual_env

_Originally posted by @filip-halt in https://github.com/towhee-io/towhee/pull/1269#discussion_r878576884_

[2022-05-22 13:07] #1268 closed

[2022-05-22 13:10] reiase commented on #1278
When installing packages with pip, we should consider `--user` option if the user is using a system python, but we should install the package without `--user` option if the user is using a virtual env.

We need to discuss the detail behavior of package install. @GuoRentong @junjiejiangjjj @fzliu @filip-halt

[2022-05-25 13:37] sberenson opened #1289 "[Bug]: AudioDecoder gets really slow processing the audio file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we run inference many times on different audio files we see that AudioDecoder __call__ method eventually gets really slow in iterating over the for loop. we identified it by adding logs in various places while trying to debug why the inference of the model ("__call__") is not executed.

[2022-05-25 13:48] binbinlv commented on #1289
@jaelgu

Could you help to have a look first?

[2022-05-25 18:18] fzliu commented on #1289
@sberenson Just to clarify, calls to `AudioDecoder` become slower and slower the more times `pipeline` is called, correct?

[2022-05-25 18:21] fzliu commented on #1289
I also saw that you're using `inf1` instances on EC2 - we've never tested it on our end, but if you ran into any issues there let us know and I'd be happy to help out there as well.

[2022-05-25 18:44] fzliu commented on #1221
This update will require changes external to this repo, but there are other ways that you can help out, if you're still interested. We maintain a list of good first issues here: https://github.com/towhee-io/towhee/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22.

[2022-05-25 20:09] sberenson commented on #1289
@fzliu correct.
Regarding inf1 instances, I had to recompile the model on the inf instance to generate the model and tweaked the vggish implementation to leverage inf1 chip if it present. Gets way better performance vs cpu mode.

[2022-05-26 01:43] jaelgu commented on #1289
@junjiejiangjjj Can you take a look at this issue regarding to audio-decoder?

[2022-05-26 06:18] aiot-tech opened #1292 "[Bug]: Pytorchvideo: fail to load mvit model with provided weights"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when running the code,
[code]
some errors are occurred:
[code]

### Environment

[code]

[2022-05-26 06:25] GuoRentong commented on #1278
we can provide such control flexibility via environment variables

[2022-05-26 06:29] binbinlv commented on #1292
@junjiejiangjjj

Could you please have a look at this issue? Thanks.

[2022-05-26 06:29] junjiejiangjjj commented on #1289
[code]
Please add this code and try again.   Towhee would slow down the  `AudioDecoder ` if there are lots of audio frame, the config will change the threshold. @sberenson

[2022-05-26 06:35] junjiejiangjjj commented on #1292
The `video_decode.ffmpeg()` should use the newest towhee code,  please git clone towhee and run `python setup.py install` to install towhee.

[2022-05-26 07:19] aiot-tech commented on #1292
thx for the reply! when I run the code you provided, some new errors occur:
[code]

[2022-05-26 07:33] aiot-tech commented on #1292
now I run the code as shown below:
[code]
and a new error occurs:
[code]

[2022-05-26 07:37] jaelgu commented on #1292
@aiot-tech You can check the updated REAMDE here: https://towhee.io/video-classification/pytorchvideo I've just updated and fixed typo there.

[2022-05-26 07:41] jaelgu commented on #1292
@aiot-tech Actually most video operators are going to release in next version. Please understand that some of READMEs are not yet reviewed. But I've just updated the README for https://towhee.io/video-classification/pytorchvideo . Lemme know if there's still some confusion.

[2022-05-26 07:46] aiot-tech commented on #1292
and when I run code like in the [example](https://towhee.io/video-classification/pytorchvideo)
[code]
and a new exception has occurred
[code]

[2022-05-26 07:49] jaelgu commented on #1292
This is because `towhee.models` are separated from `towhee` packages. You need to install towhee.models package with latest code as well. In the same towhee github repo, use `python setup.py install --models`

[2022-05-26 08:13] aiot-tech commented on #1292
After running the code  as shown above, a new exception occurs:
[code]

[2022-05-26 08:45] jaelgu commented on #1292
This is weird. What is your torch version? Also can you try to run the following codes in your environment:
[code]

[2022-05-26 09:00] aiot-tech commented on #1292
the same error:```RuntimeError: Error(s) in loading state_dict for MultiscaleVisionTransformers:
	Missing key(s) in state_dict: "blocks.0.attn._attention_pool_k.pool.weight",```

[2022-05-26 09:20] jaelgu commented on #1292
It should be matched. Can you try to remove `/root/.cache/torch/hub/checkpoints/MVIT_B_16x4.pyth` and re-run `torch.hub.load('facebookresearch/pytorchvideo', model='mvit_base_16x4' pretrained=True)`?

[2022-05-26 09:37] aiot-tech commented on #1292
Yes,I had did and the same error occurred again.

[2022-05-26 09:53] jaelgu commented on #1292
What is your torch version?

[2022-05-26 09:57] aiot-tech commented on #1292
I test it on both v1.11.0(gpu) and 1.10.2(cpu)

[2022-05-26 10:06] aiot-tech commented on #1292
When I run the code as shown below,the same error occurs,so it seems to be a problem from the repo  of  `pytorchvideo`?
[code]

[2022-05-26 10:26] jaelgu commented on #1292
It looks like problem with pytorchvideo. I also checked with weight in my cache as well:
<img width="819" alt="image" src="https://user-images.githubusercontent.com/86251631/170469701-ccade450-f11b-4d79-a8f1-eb6af18ecb31.png">

Can you try to check your model with this:
[code]
The above code should return False. Can you check at your end?

[2022-05-26 11:27] jaelgu commented on #1292
@aiot-tech I can reproduce this issue by removing `~/.cache/torch/hub/facebookresearch_pytorchvideo_main` and making it re-download pytorchvideo with torch.hub.

It looks like an issue with some updates in https://github.com/facebookresearch/pytorchvideo.

[2022-05-26 12:55] aiot-tech commented on #1292
[code]
In my local environment, it returns True.

[2022-05-26 16:57] sberenson commented on #1289
thank you @junjiejiangjjj it seems to solve the problem, let it run for few hours and didnt experience it anymore.

[2022-05-27 01:46] reiase commented on #1278
does the user have to restart ipython kernel when he is using jupyter notebook to set the environment variables?

[2022-05-27 02:00] jaelgu commented on #1292
@aiot-tech Hello, I've actually submitted an issue to pytorchvideo. Hope they will fix it officially soon. However, I have a workaround:

[code]
(Note: make sure your torch used the correct cache dir. Sometimes, it uses 'facebookresearch_pytorchvideo_main' instead.)

With commands above, we can replace the pytorchvideo code used by torch with a previous version (actually v0.1.3 is its latest relea

[2022-05-27 03:10] aiot-tech commented on #1292
thx for your great work!

[2022-05-27 03:10] aiot-tech commented on #1292
thx for your great work!

[2022-05-27 03:12] #1292 closed

[2022-05-27 10:41] Chiiizzzy opened #1300 "[Enhancement]: dc operator should also support init args"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Now we support dc.operator\[index\](kwargs) only, we should also support dc.operator\[index\](args)

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-05-28 05:31] #665 closed

[2022-05-28 05:31] #646 closed

[2022-05-28 05:31] #624 closed

[2022-05-28 05:31] #1111 closed

[2022-05-28 05:31] #1106 closed

[2022-05-28 05:31] #1112 closed

[2022-05-28 05:31] #1102 closed

[2022-05-28 05:31] #1070 closed

[2022-05-28 05:31] #1071 closed

[2022-05-28 05:31] #1090 closed

[2022-05-28 05:31] #1048 closed

[2022-05-28 05:31] #1006 closed

[2022-05-28 05:31] #1028 closed

[2022-05-28 05:31] #912 closed

[2022-05-28 05:31] #948 closed

[2022-05-28 05:31] #903 closed

[2022-05-28 05:31] #872 closed

[2022-05-28 05:31] #893 closed

[2022-05-28 05:31] #858 closed

[2022-05-28 05:31] #867 closed

[2022-05-28 05:31] #851 closed

[2022-05-28 05:31] #845 closed

[2022-05-28 05:31] #796 closed

[2022-05-28 05:31] #818 closed

[2022-05-28 05:31] #761 closed

[2022-05-28 05:31] #669 closed

[2022-05-28 05:31] #667 closed

[2022-05-28 05:31] #668 closed

[2022-05-30 01:53] #1022 closed

[2022-05-30 10:08] shiyu22 opened #1303 "[Feature]: Update notebook for Image animation"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

There are some notebooks for reverse image search with the [gradio showcase](https://github.com/towhee-io/examples/blob/main/image/reverse_image_search/1_build_image_search_engine.ipynb) and [deploy fastapi with towhee.api](https://github.com/tow

[2022-05-30 12:43] #894 closed

[2022-05-30 19:41] #1289 closed

[2022-05-30 19:42] sberenson commented on #1289
The solution proposed by @junjiejiangjjj fixes the slowness

[2022-05-30 20:00] sberenson opened #1305 "[Bug]: iterators.py exception AttributeError: 'NoneType' object has no attribute 'get'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I trigger:

embedding_pipeline = pipeline('towhee/audio-embedding-vggish')
vecs = embedding_pipeline(str(audio_path))

sequentially 50 times it works as expected.
If we run 50 requests in 4 parallel jobs getting the following exception:

Traceback (most recent call last):
  File "/root/.

[2022-05-31 00:44] #1081 closed

[2022-05-31 02:46] junjiejiangjjj commented on #1305
@filip-halt  #823   in this pr, the `GraphContext.result()`  returns an iterator, not a `dataframe`, the iter only has df's weakref, when the `GraphContext` destroy, all dfs will be destroyed too, so the iter gets the `None` not the df.

[2022-05-31 19:40] sberenson commented on #1305
@filip-halt here is the fingerprint.py script : [fingerprint.py.txt](https://github.com/towhee-io/towhee/files/8808819/fingerprint.py.txt)
save it to file and then you can execute it
`uvicorn fingerprint:app --port=8000 --reload --workers=4`

to call it in parallel:

`
xargs -I % -P 4 curl -w "@curl-format.txt" -o /dev/null  --request POST 'http://localhost:8000/fingerprint' \
--header 'Content-Ty

[2022-06-01 01:54] #1305 closed

[2022-06-01 02:48] sberenson commented on #1305
@filip-halt I have tested the fix by applying the same changes on local. How would you recommend to get the latest changes? When is the plan for next tag 0.6.2 ?

[2022-06-01 02:55] binbinlv commented on #1305
@sberenson

I think you could use the version on "test pypi" temporarily before 0.6.2 using the following command:

pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple towhee==0.6.2.dev46

[2022-06-01 07:11] #1109 closed

[2022-06-02 04:20] #1146 closed

[2022-06-03 13:57] #1149 closed

[2022-06-04 11:20] #1080 closed

[2022-06-04 14:53] #1158 closed

[2022-06-05 18:03] harivamsi9 commented on #1303
Hey, I wanna take up this issue

[2022-06-06 01:49] shiyu22 commented on #1303
Welcome to contribute :)

Feel free to contact me if you have any questions, or join [slack](https://join.slack.com/t/towheeio/shared_invite/zt-19xhoo736-PhIYh~hwOBsDSy5ZvGWJxA) in the **development** channel to discuss.

[2022-06-06 07:51] GuoRentong opened #1321 "[Bug]: Got FileNotFoundError when using face_embedding.deepface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i run

[code]

i got the following error messages

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File ~/Project/grt/towhee/towhee/engine/operator_loader.py:106, in OperatorLoader.loa

[2022-06-07 09:28] aiot-tech opened #1327 "[Documentation]: ffmpeg"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Hi, I couldnt find any information about func `video_decode.ffmpeg()`. I'd really like to know how it works, like how many frames per second are cut, how to limit the maximum number of frames to avoid CUDA OOM or how to resize the frame to a custom s

[2022-06-07 09:41] binbinlv commented on #1327
@junjiejiangjjj

Could you help to answer this question? Thanks.

[2022-06-07 09:56] aiot-tech opened #1328 "[Bug]: CPU OOM Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
When running the code as above, I get a `cpu oom` error, is there any solution? And the dir `mp4/` contains more than 1k videos.
the oom error is:
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No respo

[2022-06-07 10:54] binbinlv commented on #1328
@junjiejiangjjj

Could you help to investigate this issue? Thanks.

[2022-06-07 11:45] aiot-tech commented on #1327
I find out a doc `https://towhee.io/video-decode/ffmpeg`, which doesn't seem to be able to do much more than `sample`. Could it be that I make mistake?

[2022-06-07 11:54] junjiejiangjjj commented on #1328
How big are your videos? the pipeline only supports small videos.

[2022-06-07 11:57] aiot-tech commented on #1328
Most of them are less than 1024k. Is it possible to build a pipeline in style like below:
[code]

[2022-06-07 23:39] filip-halt opened #1329 "[Bug]: .dc() fails to work with more than one column"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

import towhee
dc = towhee.dc\(\["num","val"\](\[\[1,"one"\],\[2,"two"\]\]\)

Throws an error.

Fix
return DataFrame(iterable).map(lambda x: Entity(**{index: x})) -------> return DataFrame(iterable).map(lambda x: Entity(**dict(zip(index, x))))

### Expected Behavior

To get a dc with two colum

[2022-06-08 01:48] reiase commented on #1328
Still working on that, we aim to provide an API like this:
[code]
where `audio_embedding_vggish` is the pipeline name.

[2022-06-08 01:58] jaelgu commented on #1328
@aiot-tech We have more example usage of this operator in https://github.com/towhee-io/examples/tree/main/video/reverse_video_search (More examples on the way). You may move the audio-subsampling step to audio-decode using sample codes below:

[code]

[2022-06-08 01:58] junjiejiangjjj commented on #1327
#1328

[2022-06-08 02:11] filip-halt commented on #1275
Is someone working on this?

[2022-06-08 02:36] aiot-tech commented on #1327
Oh you are right! This is indeed not a CUDA OOM but a system OOM (same error occurs at A). But if someone wants to resize the frame, control the sampling frequency(eg,5 frames per second), what should be done?

[2022-06-08 02:46] aiot-tech commented on #1328
Now I do it like this, first delete self.model and inputs after inference `(/root/.towhee/hub/video-classification/pytorchvideo/main/pytorchvideo.py)`, then use the following code to process 800 videos (total 1000), it seems that there is no problem, but it is a bit slow.

[code]

[2022-06-08 02:48] aiot-tech commented on #1328
Great! Hope to use it soon.

[2022-06-08 03:23] reiase opened #1332 "[DesignProposal]: refactoring towhee.api"
### Background and Motivation

`towhee.api` was originally designed to help the user to create an API for their application. For example, the user can create a RestFul API with the following code:

[code]

or create a API function with:

[code]

we want to improve the design of the API, make the user's code much simpler.

### Design

we drop the with statement from the user's code and provide `tow

[2022-06-08 03:40] filip-halt commented on #1332
Maybe instead of dummy input something like 'dynamic_input'

[2022-06-08 03:52] reiase commented on #1332
sounds much better

[2022-06-08 04:00] aiot-tech commented on #1328
I get an another idea. First, move `/root/.towhee/hub/video-classification/pytorchvideo/main/pytorchvideo.py` to `PytorchVideo.py`, same for json, and then run the code below
[code]

[2022-06-08 04:09] jaelgu commented on #1328
Then how about this:

[code]

[2022-06-08 04:56] aiot-tech commented on #1328
brilliant!

[2022-06-08 04:56] #1328 closed

[2022-06-08 06:05] junjiejiangjjj commented on #1327
The decoder supports sampling but doesn't support resize, you can see the examples: https://towhee.io/video-decode/ffmpeg

[2022-06-08 06:11] shiyu22 commented on #1332
Does it support passing in multiple values? Such as `towhee.dummy_input['question', 'answer']()`.

[2022-06-08 06:17] jaelgu commented on #1332
Does `.dummy_input` support batch or single input? If using batch, will it easily cause OOM?

[2022-06-08 06:41] GuoRentong opened #1333 "[Feature]: Add method `get_model_name` to NNOperator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

Many NNOperators support multiple pretrained models. The pretrained model name must be specified when initialize an operator.

For example, `dc.image_embedding.timm(model_name='resnet50')`. The number of supported model names in timm is over 500,

[2022-06-08 06:59] aiot-tech commented on #1327
`d = ops.video_decode.ffmpeg(start_time=10.0, end_time=20.0, sample_type='uniform_temporal_subsample', args={'num_samples': 10})`
Does the above code mean to take 10 seconds to 20 seconds of video and sample it uniformly to end up with 10 frames?
And will the resize func be supported in the future?

[2022-06-08 09:32] junjiejiangjjj commented on #1327
resize is not in the plan, for the models always resize images in their preprocess function.
The sample logic is correct.

[2022-06-08 10:04] aiot-tech commented on #1327
Very nice and thanks a lot O(∩_∩)O.

[2022-06-09 07:38] jaelgu opened #1341 "[Bug]: Display video fails with absolute path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I tried to display video using `.show()` but fails with the absolute path.

![20220609-143712](https://user-images.githubusercontent.com/86251631/172781159-b4b3fed0-1e7e-40c4-bb98-a74a80fdf4c6.jpeg)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[2022-06-09 08:13] reiase opened #1342 "[DesignProposal]: operator workload refactoring"
### Background and Motivation

1. Towhee is trying to support various different execution backend, for example, vectorized execution, execution with native code generation, and execution on ray;
2. The entrance of execution is `_OperatorLazyWrapper.__call__`, which has become too complex for further maintenance;
3. wrapper is not good for performance and code generation;

### Design

1. Decompose

[2022-06-09 08:15] reiase opened #1343 "[Enhancement]: replace `_OperatorLazyWrapper` with mixins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Replace `_OperatorLazyWrapper` with mixins, and make the code easy to understand and maintain;

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-06-09 08:30] #1343 closed

[2022-06-09 09:52] Chiiizzzy opened #1348 "[Bug]: col-based pyarrow array dot without chunk is slower than row-based dc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running time benchmark with array dot, I found col-based computing without chunk is even slower then row-based:
[code]
<img width="394" alt="Result" src="https://user-images.githubusercontent.com/72550076/172819532-fd1a4068-4da9-4a1c-a7e1-a8099595aed1.png">

### Expected Behavior

Col-ba

[2022-06-10 02:13] jandy0414 opened #1350 "[Bug]: 不支持windows吗？ TypeError: argument of type 'WindowsPath' is not iterable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

run resNet50 for  vector

### Expected Behavior

finish run

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

![bug001](https://user-images.githubusercontent.com/35617197/172976205-5a201bd9-5352-4ffb-afb9-bd8a43aea6cf.png)

[2022-06-10 22:20] sberenson opened #1361 "[Bug]: VGGish pipeline waveform_to_examples func converts to mono input file that is already in mono"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you provide an input file that is already mono :
`    Stream #0:0: Audio: pcm_s16le ([1][0][0][0] / 0x0001), 16000 Hz, mono, s16, 256 kb/s`
the function waveform_to_examples still will convert it the input data into mono again by looking into
`if len(data.shape) > 1:
      data = np.mean

[2022-06-13 03:54] jaelgu opened #1365 "[Bug]: DC show video fails to display with absolute path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

See screenshot below:

Using the same video, `show(formatter: {'path':'video_path'})` fails to display video with absolute path.

![20220609-143712](https://user-images.githubusercontent.com/86251631/173276452-4c316284-60c7-4a49-82bf-8f3a8254a69d.jpeg)

### Expected Behavior

_No response_

#

[2022-06-13 04:46] jaelgu commented on #1361
/fixed by latest pipeline: https://towhee.io/towhee/audio-embedding-vggish (with change in related operators)

[2022-06-13 04:46] #1361 closed

[2022-06-13 06:04] paul-tharun opened #1366 "[Enhancement]: to_milvus operator must return the primary keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The present behavior in milvus mixins is to store the result of the milvus insert into a dummy variable and not return anything.
` _ = _milvus_insert(dc_data, index, collection, batch_size)` line 89 in milvus mixins file.

I believe returning the primary keys that can be added

[2022-06-13 08:00] jaelgu commented on #1333
**Re-design:** Add a method `supported_model_names(format=None)` to NNOperator

`supported_model_names` returns a list of supported model names. The parameter `format` is a supported model type, which controls the method to return a sub-list of supported model names.

For example, if `format='pytorch'`, then the method returns a list of supported model names that can be saved as pytorch model.
`fo

[2022-06-13 08:46] paul-tharun commented on #1366
This makes better sense, I did not know about the ann_insert operator. I am closing this issue then as there isn't an enhancement. Thanks for the help.

[2022-06-13 09:06] shiyu22 commented on #1366
It's my pleasure. And one thing is that we are going to make `to_milvus` to Operator and it will solve your issue and plans to deprecate `ann_insert`. I think @filip-halt is doing this, can you comment on this if you finished it?

[2022-06-13 09:18] #1366 closed

[2022-06-13 09:42] Chiiizzzy opened #1367 "[Bug]: Fail to load file when set_parallel in dc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When given relative path and run with multi-thread, report file not found in
https://github.com/towhee-io/examples/blob/main/video/text_video_retrieval/2_deep_dive_text_video_retrieval.ipynb in the following cell:
<img width="1253" alt="截屏2022-06-13 17 40 40" src="https://user-images.githubus

[2022-06-13 09:45] Chiiizzzy opened #1368 "[Bug]: ffmpag.py not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running:

[code]
report `FileNotFoundError: [Errno 2] No such file or directory: '/Users/chizzy/.towhee/operators/video-decode/ffmpeg/main/ffmpeg.py'`

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-06-13 09:53] shiyu22 commented on #1368
I also met this issue before, but it's an issue about the version of towhee, I think you need to update the `towhee` and `towhee.models` to latest version. Note that you have to uninstall them before reinstall.

[2022-06-13 10:05] Chiiizzzy commented on #1368
I'm in develop mode, so technically it should be the latest towhee that I'm using(update to latest commit), also i tried to uninstall and install towhee from pypi, It's not working.

[2022-06-13 10:09] shiyu22 commented on #1368
Maybe you need to remove the folder under site-packages, such as `rm -rf ~/miniconda3/envs/towhee/lib/python3.8/site-packages/towhee/*`. I can run it successfully after running this, although it's very confusing. -_-

[2022-06-14 02:27] Chiiizzzy commented on #1368
`VideoFrame` is not introduced in towhee 0.6.1, which is the latest version of towhee available in pypi. So when users install towhee from pypi and run operators with `VideoFrame` imported, they will encounter `ModuldNotFoundError`.

In this case, towhee is supposed to build a `VideoDecoder` operator from `video-decode/ffmpeg`'s `__init__.py`, where VideoFrame is imported by importing VideoDecoder

[2022-06-14 03:07] shiyu22 commented on #1368
You can find the latest version of towhee in [testpypi](https://test.pypi.org/project/towhee/#history). But the issue is that the Operator cannot run with the released towhee, maybe we need to add `develop` label in this Operator or Pipeline.

[2022-06-14 03:35] Chiiizzzy commented on #1367
Temporarily close due to unstable recurrence

[2022-06-14 03:35] #1367 closed

[2022-06-14 12:00] binbinlv opened #1378 "[Bug]: The code of towhee will be covered after the latest towhee.models are installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The code of towhee will be covered after the latest towhee.modes are installed

### Expected Behavior

The code of towhee will not be covered after the latest towhee.modes are installed

### Steps To Reproduce

1. install the latest towhee:
python3 -m pip install -i https://test.pypi.org/simp

[2022-06-14 12:26] binbinlv opened #1380 "[Bug]: ERROR MESSAGE: cannot import name 'VideoFrame' from 'towhee.types'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

ERROR MESSAGE: cannot import name 'VideoFrame' from 'towhee.types'
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-15 02:42] reiase commented on #1378
We have to clean the build cache before packaging `towhee.models`. @binbinlv

[2022-06-15 02:57] binbinlv commented on #1378
After rm directory "build" and "dist", this issue did not occur.

[2022-06-15 02:57] #1378 closed

[2022-06-15 06:57] binbinlv opened #1386 "[Bug]: Do not report error when downloading failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2022-06-15 14:51:34,314 - 4608626176 - test_video_text_embedding.py-test_video_text_embedding:44 - ERROR: Fail to run clip4clip - {'model_name': 'clip_vit_b32'}
ERROR MESSAGE: invalid load key, 'v'.

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

###

[2022-06-15 07:44] binbinlv opened #1387 "[Bug]: There is no progress bar when downloading operator "clip4clip""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is no progress bar when downloading operator "clip4clip":
it stops at the following step (100%, but it seems that the downloading is ongoing, but I do not know how is the downloading here)

[code]

### Expected Behavior

Showing progress bar  just as other operators

### Steps To Reprod

[2022-06-15 07:53] binbinlv commented on #1380
Fixed。

[2022-06-15 07:53] #1380 closed

[2022-06-15 07:57] zc277584121 commented on #1387
hub目前要装git lfs才能下大文件，所有op都一样，不是这个op有问题

[2022-06-15 07:59] zc277584121 commented on #1386
hub目前要装git lfs才能下大文件，所有op都一样，不是这个op问题

[2022-06-15 08:40] binbinlv opened #1390 "[Bug]: Video text embedding failed for "fail to run frozen_in_time""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

video text embedding failed for fail to run frozen_in_time:
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-15 08:46] binbinlv opened #1392 "[Bug]: Video text embedding failed for "fail to run clip4clip""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Video text embedding failed for "fail to run clip4clip"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-15 09:05] binbinlv opened #1393 "[Bug]: Action classification operator failed showing "Unable to find a valid cuDNN algorithm to run convolution" on GPU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

NO error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-15 09:07] jaelgu commented on #1393
@binbinlv This looks like environment issue of cuda.

[2022-06-15 09:43] zc277584121 commented on #1392
Currently packaging does not support this files,  please help to package this file: bpe_simple_vocab_16e6.txt.gz, @reiase

[2022-06-15 09:54] binbinlv opened #1395 "[Bug]: Fail to run operator “frozen_in_time” showing “The size of tensor a must match the size of tensor b”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Fail to run operator “frozen_in_time” showing “The size of tensor a must match the size of tensor b ”
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-15 10:43] jaelgu commented on #1395
@binbinlv

Fixed with updated operator. Please test with the latest operator.

<img width="716" alt="image" src="https://user-images.githubusercontent.com/86251631/173808879-20e4b411-e685-4d69-ad5f-63ca8bde0631.png">

[2022-06-15 11:44] binbinlv commented on #1395
Fixed and closed.

[2022-06-15 11:44] #1395 closed

[2022-06-15 11:45] binbinlv commented on #1390
Fixed and. closed.

[2022-06-15 11:45] #1390 closed

[2022-06-15 11:56] binbinlv commented on #1392
Fixed and closed.

[2022-06-15 11:56] #1392 closed

[2022-06-16 03:21] jaelgu commented on #1393
@binbinlv You have to make sure that cuda memory is enough. Yesterday when cuda memory is not enough, I got the same error as in screenshot. I just tested the script and all model pass:

<img width="633" alt="image" src="https://user-images.githubusercontent.com/86251631/173984052-2ac23d0d-8fb0-4739-9b4b-a9f5e8bb443b.png">

[2022-06-16 08:08] binbinlv opened #1403 "[Bug]: Fail to run pytorchvideo for "Remote end closed connection without response""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Requirement already satisfied: portalocker in /test/miniconda3/envs/binbin-test-python-3.8/lib/python3.8/site-packages (from iopath->pytorchvideo==0.1.3->-r /home/super/.towhee/hub/action-classification/pytorchvideo/main/requirements.txt (line 1)) (2.4.0)
Building wheels for collected package

[2022-06-16 08:34] reiase commented on #1403
The error is thrown from torch hub, can you check your internet connection? @binbinlv

[2022-06-16 08:54] binbinlv opened #1406 "[Bug]: Fail to run lightningdot for "No module named 'wget'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Fail to run lightningdot for "No module named 'wget'"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-16 12:56] binbinlv commented on #1393
Today it is not reproduced, so close it first.

[2022-06-16 12:56] #1393 closed

[2022-06-16 13:19] #1036 closed

[2022-06-16 15:26] wxywb commented on #1406
wget had inserted into the lightningdot's requirement.
https://towhee.io/image-text-embedding/lightningdot/src/branch/main/requirements.txt

[2022-06-17 01:57] binbinlv opened #1410 "[Bug]: Fail to run actionclip for "Expected all tensors to be on the same device, but found at least two devices, cpu and cuda:0!""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-17 02:35] jaelgu commented on #1410
Fixed by updated https://towhee.io/action-classification/actionclip.
@binbinlv Please update `~/.towhee/hub/action-classification/actionclip` to test again.

[2022-06-17 02:57] jaelgu commented on #1410
Typo in op. Just fixed by updating "cuda:2" to "cuda" in op.

[2022-06-17 03:17] binbinlv commented on #1410
Fixed and close this issue.
Results:
Success: actionclip {'model_name': 'clip_vit_b16'}
Success: actionclip {'model_name': 'clip_vit_b32'}

[2022-06-17 03:30] binbinlv commented on #1386
Retested, acutally, it has some warnings:
[code]

But when it downloads failed, it is still ongoing:
[code]

[2022-06-17 03:31] binbinlv commented on #1386
Could we just report errors when download failed just like:
"Download failed, please check the network or if git-lfs is installed"?

[2022-06-17 03:39] binbinlv opened #1413 "[Bug]: Fail to run weighted_average_ensemble both on CPU and GPU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2022-06-17 11:24:45,958 - 140216284545856 - test_ensemble.py-test_ensemble:38 - ERROR: Fail to run weighted_average_ensemble
ERROR MESSAGE:

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-17 04:23] binbinlv opened #1415 "[Bug]: Fail to run clip - {'model_name': 'clip_vit_b32'} reporting "Model has been downloaded but the SHA256 checksum does not not match""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-17 06:12] binbinlv commented on #1413
It is for no test image, input the test image, then it is good, so close it.

[2022-06-17 06:12] #1413 closed

[2022-06-17 06:16] #1386 closed

[2022-06-17 06:24] wxywb commented on #1415
It seems downloaded model was broken due to the network issue, which cannot be guaranteed by the operator.

[2022-06-17 06:46] shiyu22 commented on #1387
This is because the `git clone` does not have a progress bar and only shows the percentage. I think you just want to know when the clone is completed with the large files. We can add "successfully clone ..." info, and clear the cache if the clone failed.

[2022-06-17 07:10] #1387 closed

[2022-06-17 07:40] binbinlv commented on #1406
Fixed and close this issue.

[2022-06-17 07:40] #1406 closed

[2022-06-17 08:02] binbinlv opened #1419 "[Bug]: Fail to run lightningdot - {'model_name': 'lightningdot_base'} showing "No module named 'transformers.models.bert.modeling_bert'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

Run script: "python3 ./test_image_text_embedding.py"
[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-17 09:41] wxywb commented on #1419
It caused by following facts:
1.**lightningdot** relies on transformers 2.3 **blip** relies on transformers 4.20
2. requirements check and download occurs at operator downloading.
3. after **lightingdot** downloaded, pip chosen transformers 2.3 as the final version.
4. **blip** then imported a mismatched transformers and occurs the error.

solution:
test **blip** and **lightningdot** in the two sc

[2022-06-17 13:29] binbinlv commented on #1415
It is not reproduced when the network is good.

[2022-06-17 13:34] binbinlv commented on #1419
And when I run the script again without removing cache, it reports:
[code]

[2022-06-17 13:41] binbinlv opened #1425 "[Bug]: Fail to run lightningdot for "No module named 'ipdb'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-20 08:16] aiot-tech opened #1429 "[Feature]: add a new model"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

Hello, I find that some models are not included in the towhee. If I want to add a new model, such as x3d_l, how should I modify the code?:)

[2022-06-20 09:42] binbinlv opened #1432 "[Bug]: Operators are impacted by downloading and network greatly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Operators are impacted by downloading and network greatly

Running operator tests are failed for lack of files or others errors caused by downloading failed frequently.

[code]

### Expected Behavior

Could we do some special process for downloading large files?

Or it will be impacted by dow

[2022-06-20 09:42] #1168 closed

[2022-06-20 09:42] #1242 closed

[2022-06-20 11:00] binbinlv opened #1433 "[Bug]: Requirement parse wrong for transformers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It shows 'transformers>=4.15.0' but transformers is 4.20.0 which is indeed satisfying this condition
[code]

The completed log:
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-06-21 09:27] reiase opened #1437 "[DesignProposal]: DataCollection API v2"
### Background and Motivation

DataCollection API has been released for over two months, and we also developed some bootcamps for AI applications of CV/NLP and DataScience. The API has been proven to be powerful for building AI applications, but there is also some user/developer feedback on design shortages:

1. Core conception of DataCollection is not very clear;
2. The default behaviors of DataC

[2022-06-21 10:16] shiyu22 opened #1438 "[DesignProposal]: DataCollection config and optimization hint"
### Background and Motivation

There are some interfaces for configuration parameters in DataCollection, such as `set_parallel`, `unstream`, `set_chunksize`, so we can use ConfigMixin to manage them.

### Design

1. `dc.config(stream=False, parallel=None/1/2/..., chunksize=None/1/2/..., jit='numba')`: config executions of data collection;
2. `dc.set_parallel`, `dc.set_chunksize`, `dc.set_jit` and

[2022-06-21 12:05] wxywb commented on #1425
useless ipdb module is removed.

[2022-06-21 12:05] #1425 closed

[2022-06-22 02:50] Chiiizzzy opened #1442 "[Bug]: Automatically installed packages not found"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When downloading op, towhee used to install requirements automatically, uninstall the old version and install the required version, which might cause damage to users' env. Also, newly installed packages won't be detected by `pkg_resources`, which leads to version conflicts when initializing o

[2022-06-22 03:53] #1300 closed

[2022-06-22 10:26] binbinlv opened #1449 "[Bug]: Fail to run weighted_average_ensemble for "towhee/weighted-average-ensemble repo does not exist""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]
[code]

### Anything else?

_No response_

[2022-06-22 10:29] binbinlv commented on #1433
Now the behavior is:
if the dependency module is not satisfied, will report error, and let user to install the correct version. Then it could go on correctly. so close it.

[2022-06-22 10:29] #1433 closed

[2022-06-22 10:29] binbinlv commented on #1419
Now the behavior is:
if the dependency module is not satisfied, will report error, and let user to install the correct version. Then it could go on correctly. so close it.

[2022-06-22 10:29] #1419 closed

[2022-06-22 11:00] reiase commented on #1432
we plan to redesign the operator management system in the next version, and the downloading and dependency problems should be solved in that release.

[2022-06-22 11:11] dreamfireyu commented on #1449
Replace "dc = dc.greedy_ensemble[('ens','groud_truth'),'greedy_ens'](size=2,topk=1)" with
"dc = dc.ensemble.greedy_ensemble[('ens','groud_truth'),'greedy_ens'](size=2,topk=1)"
and replace ".weighted_average_ensemble[('emb1','emb2'),'emb'](weights=weights)" with "ensemble.weighted_average_ensemble[('emb1','emb2'),'emb'](weights=weights)"

[2022-06-22 14:13] binbinlv opened #1450 "[Bug]: Running operator failed for reporting lots of modules are not found in clean env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running operator failed for reporting lots of modules are not found, like:
pkg_resources.DistributionNotFound: The 'av' distribution was not found and is required by the application
pkg_resources.DistributionNotFound: The 'opencv-python' distribution was not found and is required by the appli

[2022-06-22 14:15] binbinlv commented on #1449
Fixed and closed.

[2022-06-22 14:15] #1449 closed

[2022-06-22 14:16] binbinlv commented on #1450
I think this maybe for the fix for issue #1433.

[2022-06-23 04:05] reiase opened #1452 "[DesignProposal]: towhee operator management"
### Background and Motivation

_No response_

### Design

1. manage towhee operator with pip;

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-06-23 04:56] binbinlv opened #1456 "[Bug]: Dependency "transformers" is not compatible between op "blip" and "lightningdot""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Dependency "transformers" is not compatible between op "blip" and "lightningdot"

"blip" needs "transformers>=4.15.0"

"lightningdot" needs "transformers==2.3.0"

### Expected Behavior

No conflict dependency version

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

[2022-06-23 06:51] dreamfireyu opened #1458 "[DesignProposal]: advise for git cloning big files from hub"
### Background and Motivation

When I tried to clone operator to local pc, the model weights are too big to download.
`from towhee import ops `
 `deepfake = ops.deepfake()`
 `pred = deepfake('/home/test_video')`
This is my error message:

error: RPC failed; HTTP 504 curl 22 The requested URL returned error: 504
fatal: error reading section header 'shallow-info'

### Design

This problem can be sol

[2022-06-23 06:57] reiase commented on #1458
Duplicate of #1452

[2022-06-23 07:05] binbinlv commented on #1450
Test it again, it is good in clean python env and clean cache. And this issue will occur when the cache for python3.8 is not be cleaned and when installing towhee in python 3.7,  this is compatibility issue which will be fixed in next release.

And the workaround is clean the cache when you want to use new python version and new env.

[2022-06-23 07:30] wxywb commented on #1456
The pertained models in these two operators needs the specific data structure in two different version of the library(**transformers**) which is not backward-compatible. It costs hundreds of gpu machines in their original implementation so we can not retrain it weights in a newer version economically.

[2022-06-23 07:37] binbinlv commented on #1456
OK, so now the behavior is towhee report errors for dependency version conflict, and needs users to confirm and install the needed version.

[2022-06-23 07:37] #1456 closed

[2022-06-23 07:49] binbinlv commented on #1403
I think this is the duplicate issue of #1432, so close it.

[2022-06-23 07:49] #1403 closed

[2022-06-23 08:41] Chiiizzzy opened #1461 "[DesignProposal]: Execution strategy and chunked stream data processing"
### Background and Motivation

_No response_

### Design

# Execution strategy
There are several ways that Towhee execute operators in the workflow, according to data type and execution mode:
![execution](https://user-images.githubusercontent.com/72550076/175256131-aa37bf83-467a-46db-b668-8501f989a3cb.png)
Say we have three operators, namely A, B, C, and input data 1, 2, 3.
- With unstreamed data

[2022-06-23 10:04] binbinlv opened #1462 "[Bug]: Automatically downloaded "torch" is not suitable for GPU machine reporting "no kernel image is available for execution on the device\nCUDA""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Automatically downloaded "torch" is not suitable for GPU machine reporting "no kernel image is available for execution on the device\nCUDA"

### Expected Behavior

Could we install the right version directly?

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No re

[2022-06-23 10:12] jaelgu commented on #1462
To install pytorch with cuda, please refer to https://pytorch.org/get-started/locally/ for proper versions & installation commands. (I recommend to use `conda install` because it will install proper `cudatoolkit` for your environment.)

[2022-06-24 04:55] reiase commented on #1461
Why we don't use stream+parallel execution by default:
1. we have to load all the operators into memory when using stream+parallel, which will increase the peek memory usage;
2. race condition will increase system latency;

[2022-06-26 05:56] #1270 closed

[2022-06-27 03:26] shiyu22 opened #1474 "[Bug]: IndexError with towhee.glob"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run the following code:
[code]
 and I got `IndexError: list index out of range`, but in fact the picture is called **test.png**, which means that the **test.jpg** file does not exist.

### Expected Behavior

It can raise FileNotFoundError instead if IndexError.

### Steps To Reproduce

[2022-06-27 03:42] shiyu22 opened #1476 "[Documentation]: Add examples in README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

I think the [towhee-io/examples](https://github.com/towhee-io/examples) is ready to promote with Towhee v0.7, it has also released the 0.7 version. And it will keep adding a lot of interesting examples about towhee, so can you add it to README?

###

[2022-06-27 03:56] shiyu22 commented on #1303
Hi @harivamsi9, any progress to share? One thing is that there is a [simple notebook](https://github.com/towhee-io/examples/blob/tutorial/image/image_animation/anime_style_transformer.ipynb) about anime-style transformers you can refer to.

[2022-06-27 06:34] #1474 closed

[2022-06-28 08:41] reiase opened #1486 "[Enhancement]: limit resource usage in ray"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Limit resource usage in ray backend.

### Why is this needed?

When testing parallel execution against thread backend and ray backend, the ray backend can not limit total resource usage:

[code]

### Anything else?

_No response_

[2022-06-29 10:35] shiyu22 opened #1489 "[Bug]: towhee.api.as_function() object has no attribute '__name__'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run towhee pipeline with function mode in gradio:
[code]
And got the error:
[code]

But the above code works with towhee0.7.

### Expected Behavior

Successfully run it with the latest towhee code.

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No

[2022-06-30 05:40] GuoRentong opened #1492 "[Enhancement]: Replace towhee.types.image.Image with towhee._types.image.Image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Replace towhee.types.image.Image with towhee._types.image.Image

Usage:
from towhee.types import Image

### Why is this needed?

The old Image type should be deprecated. It's not a sub-class of numpy.ndarray, thus is not easy to use it with numpy or opencv

### Anything else?

[2022-07-01 07:44] wxywb opened #1500 "[Bug]: print the output of towhee.api raised a json error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when executing following snippet
[code]

An TypeError occured
[code]

### Expected Behavior

should not raise an Exception.

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-01 07:47] reiase commented on #1500
the default behavior for converting an entity to string is not well defined, we need to rewrite the repo method of Entity

[2022-07-01 08:11] #1492 closed

[2022-07-01 08:44] #1489 closed

[2022-07-02 18:52] #1221 closed

[2022-07-03 06:18] #1500 closed

[2022-07-03 06:28] #1278 closed

[2022-07-04 06:11] #1442 closed

[2022-07-04 06:12] #1368 closed

[2022-07-04 06:12] #1275 closed

[2022-07-05 23:32] sjcotto opened #1515 "[Documentation]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Hi, can you please provide an example on how to run this:

[code]

but using and url instead of the local file? i think clip supports urls but can't find the example

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-06 02:00] #1476 closed

[2022-07-06 02:21] shiyu22 commented on #1515
Hi @sjcotto you can try to use `image_decode` to upload file with URL, for example:
[code]
And you can call it with `$ curl -X POST "http://0.0.0.0:8000/insert_url"  --data https://github.com/towhee-io/towhee/raw/main/towhee_logo.png#gh-light-mode-only`.

BTW, the `image_load` is used to load the image binary file in the cache, and `image_decode` can load images with path or url.

[2022-07-06 08:19] Chiiizzzy opened #1516 "[Bug]: to_list fail after set chunksize"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With self-defined operator:
[code]

When runnig:
[code]
fails, but
[code]
succeed

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-07-06 08:57] shiyu22 opened #1517 "[DesignProposal]: JIT compile the Models"
### Background and Motivation

There are some JIT compilers to speed up, and pytorchdynamo&nebullvm can also compile the model and make it faster.

Here is the performance test with ResNet101:
time (ms) | Torch | Pytorchdynamo (ofi) | Nebullvm
-- | -- | -- | --
CPU | 93 | 46.2 | 51.5
GPU | 14.5 | 12.5 | 1.92

And we can add this compiler to towhee jit.

### Design

We can set jit to 'torchdynamo'

[2022-07-06 10:05] klisly opened #1518 "[Feature]: 期待能够支持中文搜图片"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

通过中文文本搜索图片这个想法已经在我的想法清单中列了好久。
很苦恼的地方在于，自己手动训练模型的话，需要投入很多时间，做了很多调研，最终没有花时间去做。
很开心，看到towhee提供以文搜图的应用示例。
比较遗憾的是，目前只支持英文，期待能支持中文搜索图片

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anythi

[2022-07-07 03:51] reiase opened #1520 "[DesignProposal]: Make data collection a drop-in replacement of Python list."
### Background and Motivation

_No response_

### Design

In most situations, a DataCollection should behave like a python list so that it can be used as a drop-in replacement. For example:

[code]

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-07 04:47] GuoRentong commented on #1518
we are now having a study on chinese-image retrieval models. Once supported, models such as BriVL will be included.

BTW, we suggest writing issue in english, so that more people in our community can read this.

[2022-07-07 06:49] #1516 closed

[2022-07-07 06:53] Chiiizzzy opened #1521 "[DesignProposal]: Iterating `df` and `df._iterable` should return the same result"
### Background and Motivation

_No response_

### Design

We might need to modify following class's `__repr__` and `__iter__` function:
- DataFrame
- Entity
- ChunkedTable
- WritableTable

### Expected results:

- When iterating a row-based `DataFrame` and its `_iterable` (a list or a generator of Entity):
[code]
- When iterating a column-based `DataFrame` and its `_iterable` (a WritableTable):
[c

[2022-07-07 07:17] 2132660698 opened #1523 "[Bug]: reverse_ image_ Search cannot run in an offline environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when I follow
https://github.com/milvus-io/bootcamp/tree/v2.0.2/solutions/reverse_image_search/quick_deploy
Option 2: Deploy with source code
When I upload pictures for indexing, Python **src/main.py** has the following error:

_```
[root@localhost src]# python3 main.py
/usr/local/python3/lib

[2022-07-07 07:19] binbinlv commented on #1523
@shiyu22 Could you please have a look? Thanks.

[2022-07-07 07:34] shiyu22 commented on #1523
Hi @2132660698 I think this is caused by the failure to download the operator in [hub](https://towhee.io/tasks/operator). If you are in offline environment , can you download the towhee operator and python dependencies of reverse image search first?

For example in the [encode](https://github.com/milvus-io/bootcamp/blob/v2.0.2/solutions/reverse_image_search/quick_deploy/server/src/encode.py) proce

[2022-07-07 07:41] reiase commented on #1521
What is the expected behavior? I suggest that we have a detailed description of the API definition.

[2022-07-07 08:45] #1523 closed

[2022-07-07 08:45] 2132660698 commented on #1523
It's OK,Thanks!

[2022-07-07 09:40] Chiiizzzy commented on #1521
Check result:
- Row-based DataFrame
[code]

- Column-based DataFrame
[code]

- Chunked DataFrame
[code]
For Chunked DataFrame, when executing, we need chunks as the basic computational unit, so we should iterate `df._iterable.chunks()` instead of df itself:
[code]

As showed, all the behavior has achieved our expectation with https://github.com/towhee-io/towhee/pull/1510

[2022-07-08 02:49] binbinlv commented on #1350
@jaelgu
Could you have a look at this issue? thanks.

[2022-07-08 02:52] binbinlv commented on #1329
@filip-halt
Could you help to verify this?

And please close it if it is fixed. Thanks.

[2022-07-08 03:21] jaelgu commented on #1350
@jandy0414 Can you try to modify your path with options below:
- option 1: r'D:\x\x\img.png'
- option 2: str(os.path.join(''D:/, 'x', 'img.png'))

[2022-07-08 14:44] #1515 closed

[2022-07-11 01:49] shiyu22 commented on #1515
Could you please submit another issue for the `towhee.api` docs?

[2022-07-11 09:14] binbinlv opened #1541 "[Bug]: Embedding size is changed for pipeline "image-embedding-swinbase""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Embedding size is changed for pipeline "image-embedding-swinbase"

[code]

### Expected Behavior

Before is 1024
https://towhee.io/towhee/image-embedding-swinbase

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-11 09:15] binbinlv commented on #1541
@oneseer

could you help to confirm whether it is changed or it is a bug?

Thanks.

[2022-07-11 11:43] zc277584121 commented on #1541
Since the latest version 0.6.5 of timm just released is not compatible with the current operator, need to add version restrictions on timm<=0.5.4.  The requirement.txt in this operator has been updated.

[2022-07-12 05:31] lx1054331851 opened #1544 "[Feature]: How can I use paddle pretrained model in towhee?"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

I trained my model based on paddlepaddle, could I use it in towhee?

### Describe the solution you'd like.

Paddlepaddle now is a very populate deep learning framework in china, how can I use the pretrained model based on paddlepaddle framework i

[2022-07-12 05:39] jaelgu opened #1545 "[Enhancement]: Add API for configuration of cache path of Towhee hub"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

An operator/pipeline api like `op.cache_path` or `pipeline.cache_path`:
- show the cache path of current op/pipeline
- allow user to config the cache_path

### Why is this needed?

Sometimes users develop based on op or pipeline path, the frequent change of cache structure is

[2022-07-12 10:17] #1541 closed

[2022-07-13 00:31] #1329 closed

[2022-07-13 01:58] jaelgu opened #1554 "[Bug]: Pyarrow is mandatory for towhee pipeline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I chose not to install pyarrow when importing pipeline from towhee. However, it fails to import pipeline.
After pyarrow is installed, then it's able to import pipeline.

<img width="715" alt="image" src="https://user-images.githubusercontent.com/86251631/178631803-a2e843a9-2ff3-4f9a-ae53-8ef6

[2022-07-13 02:39] junjiejiangjjj opened #1555 "[Enhancement]: Towhee Serve CLIP PoC improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

- [ ] Preprocess support GPU.
- [ ] Develop GPU image decoder op.
- [ ] Use DALI to improve preprocess performance.
- [ ] Clip model support tensorrt.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-13 09:15] angelapytao opened #1558 "[Bug]: 2台机器相同的 towhee 版本0.6.1, pipeline('towhee/image-embedding-resnet50') 下载不同的pth"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Anything else?

_No response_

[2022-07-13 09:19] jaelgu commented on #1558
@angelapytao Can you check timm version on both machines? `pip show timm`

[2022-07-13 09:20] angelapytao commented on #1558
<img width="930" alt="image" src="https://user-images.githubusercontent.com/5369411/178698771-73b215d5-0d7c-4d5f-9a5d-57cdc0d8ac2d.png">
diff timm, maybe the reason？

[2022-07-13 11:21] GuoRentong commented on #1558
@angelapytao
We suggest writing issues in English, so that more people in our community can read this. Thanks.

[2022-07-13 11:23] oneseer commented on #1518
We are testing SOTA Chinese text-image retrieval algorithms. And at least two solutions will released, please stay tuned.

[2022-07-13 11:36] zhujiming opened #1559 "[DesignProposal]: Dag IR support DataCollection with schema"
### Background and Motivation

triton server support schema

### Design

dag info add some information
every node add input_info、output_info.
it most likely the picture.
<img width="1530" alt="image" src="https://user-images.githubusercontent.com/18031320/178724612-f5bd3de1-ceb7-4207-8433-c5a199035aa4.png">

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-13 11:40] oneseer commented on #1544
Our framework is mainly base on pytorch. Maybe you can try converting your weights to pytorch, please try this converting tool, https://github.com/PaddlePaddle/X2Paddle. Let us know how it goes. Cheers!

[2022-07-13 11:42] zhujiming opened #1560 "[DesignProposal]: ensemble support schema"
### Background and Motivation

triton server support schema

### Design

use  new dag_info make ensemble config
new dag_info add input_info output_info
it most likely the picture.

![](https://user-images.githubusercontent.com/18031320/178724612-f5bd3de1-ceb7-4207-8433-c5a199035aa4.png)

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-13 13:35] zhujiming commented on #1559
change input_info as a list of tuples
![image](https://user-images.githubusercontent.com/18031320/178746488-2a76ec08-f1f9-44b7-b691-279e88d90a9a.png)

[2022-07-13 21:14] filip-halt commented on #1559
Why would we need to include the function in the input info? It would require a separate dict to track all functions and their corresponding schema name. Since the schema names all have to be unique, we can drop the function from the tuple.

[2022-07-13 22:26] filip-halt commented on #1559
Futhermore, one issue found with current scheme indexing. If we have a generator function, lets say a glob that outputs two columns, glob[(path1, path2)](), the corresponding index in the system will be (path1, path2), which looks exactly as if we did image_decode[path, image], which would result in index (path, image). In this case, the engine will think that glob has an input of path1 and output

[2022-07-14 01:58] junjiejiangjjj commented on #1559
We only need to support the DC which starts with `dummy_input` ends with `as_function`

[2022-07-14 05:15] lx1054331851 commented on #1544
@oneseer
Thank you for your reply.
X2Paddle can just convert pytorch、tensorflow models to paddle models, but there is no way convert paddle models to pytorch models.
Someone can convert paddle models to numpy array, but it is a little complex.
For now, use pytorch models is the best way in towhee.

[2022-07-14 05:15] #1544 closed

[2022-07-14 09:11] binbinlv opened #1567 "[Bug]: "ModuleNotFoundError: No module named 'tritonclient'" when executing "from towhee import pipeline" while this module is indeed installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No errors

from the previous version: towhee==0.7.3.dev9
when executing "from towhee import pipeline":
[code]

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-14 09:17] binbinlv commented on #1567
And another change I want to mention here is:
when executing "from towhee import pipeline", it installed so many modules. But in the previous version, it only installs "pyarrow".

Are this modules really required at the first of "from towhee import pipeline"?

[2022-07-14 16:02] lx1054331851 opened #1568 "[Documentation]: How to find out all the towhee supported builded-in pipeline operators?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Where can i find all the towhee supported builded in pipeline operation like “save_image”？

From the current doc，a lot of useful function is hard to find for a new guy with towhee.

### Why is this needed?

By read the source code, I find these build

[2022-07-14 19:05] filip-halt opened #1569 "[Enhancement]: Schema for all DC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

We need to standardize our schema usage. Currently only a portion of functions allow for using `function[schema]()`. We need to either allow all of them to use it or none. Currently if a non compatible one is used, no useful error is given.

### Why is this needed?

Makes it v

[2022-07-14 21:37] Rosesqy opened #1570 "[Bug]: SSLError: HTTPSConnectionPool(host='towhee.io', port=443): Max retries exceeded with url: /api/v1/repos/towhee/image-decode (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1131)')))"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On a databricks notebook, When I try to run
[code]
, it shows error:
SSLError: HTTPSConnectionPool(host='towhee.io', port=443): Max retries exceeded with url: /api/v1/repos/towhee/image-decode (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1131)')))

### Exp

[2022-07-14 22:32] Rosesqy commented on #1570
I also tried
[code]
and it shows the same error

[2022-07-15 02:14] binbinlv commented on #1568
@reiase
Could you please answer this question? Thanks.

[2022-07-15 02:17] binbinlv commented on #1568
@lx1054331851
Could you please help to add the title?  And it is easy for any others to get your problems quickly.

Thanks.

[2022-07-15 02:18] binbinlv commented on #1570
@reiase

Could you help to have a look at this issue?

Thanks.

[2022-07-15 10:36] reiase opened #1572 "[Bug]: import towhee requires `tritonclient` and `geventhttpclient`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

import towhee requires `tritonclient` and `geventhttpclient`

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-07-15 10:51] jin1ming commented on #1570
I thought it might not be a bug, I had the same problem, but when I turned the system proxy off it worked fine.

[2022-07-16 05:59] 2132660698 opened #1573 "[Bug]: text_image_search cannot run in an offline environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when I follow
https://github.com/milvus-io/bootcamp/blob/master/solutions/text_image_search/1_build_text_image_search_engine.ipynb
run code in an offline environment,I encountered the following error.
![lALPJwnIzT40WzXNAc7NCIQ_2180_462](https://user-images.githubusercontent.com/94035926/17934

[2022-07-16 06:02] 2132660698 commented on #1573
![image](https://user-images.githubusercontent.com/94035926/179342232-fc379aaf-8e84-4312-9326-7e6c4b8fb67c.png)
copy all ~/.towhee files (online mechine run ok) to the offline environment.

[2022-07-16 07:27] #1332 closed

[2022-07-16 12:21] #1341 closed

[2022-07-16 12:21] #1342 closed

[2022-07-16 16:58] #1348 closed

[2022-07-17 15:59] HeloWong opened #1574 "CodeLab cannot run: there is no function like 'ground_truth' and 'read_images' in Reverse Image Search I"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

CodeLab cannot run: there is no function like 'ground_truth' and 'read_images' in Reverse Image Search I

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-07-17 16:47] #1574 closed

[2022-07-17 16:48] HeloWong commented on #1574
I find it in examples repository

[2022-07-18 09:16] aadityasinha-dotcom commented on #1303
Is this issue available?
Can I work on this issue?

[2022-07-19 02:29] zhujiming commented on #1572
[https://github.com/towhee-io/towhee/pull/1576](url)

[2022-07-19 02:47] zhujiming commented on #1572
Fixed, change import triton client and geventhttpclient into remote function. If user use remote function, then requires `tritonclient` and `geventhttpclient`

[2022-07-19 02:47] #1572 closed

[2022-07-19 03:29] wxywb commented on #1573
it needs towhee.models, make sure it is installed in your python environment.
` pip list |grep towhee.models`

[2022-07-19 09:16] aiot-tech opened #1585 "[Bug]: audio feature extract error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running the code below, some errors occur:
[code]

[code]
---------------------------------------------------------------------------
[code]
Am I doing something wrong?

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

[2022-07-19 09:22] jaelgu commented on #1585
@aiot-tech Can you check with python:
[code]
It looks like `towhee.models` is not available in your python environment.

[2022-07-19 09:47] aiot-tech commented on #1585
It seems not :)

[code]

[2022-07-19 09:59] binbinlv commented on #1585
I try to reproduce your issue, but it is good on my side, any difference?. (mac, python3.8)

1. git clone latest towhee repo
2. install towhee, and towhee.models through:
python setup.py install --models
3. run your code:
[code]

And run "import towhee.models", it is still OK.
[code]

[2022-07-19 10:07] aiot-tech commented on #1585
Do different versions affect the results?
[code]

[2022-07-19 10:12] binbinlv commented on #1585
Actually, I tested the same version as yours, towhee is 0.7.2, and towhee.models is installed through your ways:
python setup.py install --models

And it is based the latest towhee code.

[2022-07-19 10:15] aiot-tech commented on #1585
it is weird.

[2022-07-19 10:23] aiot-tech commented on #1585
after uninstalling `towhee`, it works.

[2022-07-19 11:12] binbinlv opened #1587 "[Bug]: Error “towhee/data2vec repo does not exist” occurs when running audio embedding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error “towhee/data2vec repo does not exist” occurs when running audio embedding

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-19 11:38] aiot-tech commented on #1585
I have another question, that is: how can I specify parameters in the api `ops.audio_decode.ffmpeg()` if I want to extract 1 minute audio features?

[2022-07-19 11:42] wxywb commented on #1587
this operator has been moved to **audio-embedding/data2vec**

[2022-07-19 11:48] binbinlv commented on #1587
@wxywb so the following guide should be modified on the official website.
https://towhee.io/audio-embedding/data2vec

[2022-07-19 11:52] aiot-tech commented on #1585
I check the api of `audio decode`(~/.towhee/hub/audio-decode/ffmpeg/main/audio_decoder_ffmpeg.py), it may not be possible to specify parameters.

[2022-07-19 11:52] binbinlv opened #1588 "[Bug]: Code for face embedding operator "inceptionresnetv1" is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Code for face embedding operator "inceptionresnetv1" is wrong
https://towhee.io/face-embedding/inceptionresnetv1

[code]

### Expected Behavior

tolist() -> to_list()

[code]

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-19 12:36] binbinlv opened #1589 "[Bug]: Error “The 'detectron2' distribution was not found” occurs when running object detection embedding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error “operator object-detection/detectron2 not found!” occurs when running object detection embedding

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-19 13:08] binbinlv commented on #1567
This is fixed.

[2022-07-19 13:08] #1567 closed

[2022-07-19 19:34] harivamsi9 commented on #1303
Hey, I am still working on this issue

[2022-07-20 01:33] jaelgu commented on #1585
It's not supported yet but we're working on it.

[2022-07-20 02:24] aiot-tech commented on #1585
Great! Really looking forward to it.

[2022-07-20 02:24] #1585 closed

[2022-07-20 03:38] wxywb commented on #1587
doc has been fixed.

[2022-07-20 03:49] binbinlv opened #1590 "[Bug]: Duplicate "transformers" dependency in the requirements of image embedding for data2vec"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Duplicate "transformers" dependency in the requirements of image embedding for data2vec

https://towhee.io/image-embedding/data2vec/src/branch/main/requirements.txt:
numpy
transformers>4.19.0
torch
transformers
towhee

### Expected Behavior

transformers>4.19.0 and transformers are duplicated

[2022-07-20 03:52] wxywb commented on #1588
it has been fixed.

[2022-07-20 03:53] binbinlv commented on #1587
Fixed and close it.

[2022-07-20 03:53] #1587 closed

[2022-07-20 04:01] binbinlv commented on #1588
Fixed, so close it.

[2022-07-20 04:01] #1588 closed

[2022-07-20 04:07] binbinlv opened #1591 "[Bug]: deepface() missing 1 required positional argument: 'model_name'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

deepface() missing 1 required positional argument: 'model_name'
[code]

### Expected Behavior

NO error

### Steps To Reproduce

[code]
[code]

### Anything else?

_No response_

[2022-07-20 04:43] #1365 closed

[2022-07-20 06:48] wxywb commented on #1590
duplicated dependency is removed.

[2022-07-20 07:13] binbinlv opened #1592 "[Bug]: Code is wrong reporting "operator towhee/select not found!" in face-landmark-detection for mobilefacenet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

I think here ".select('img','landmark') \" is wrong?

The following is correct with ".select['img','landmark']() \"
[code]

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-20 07:13] binbinlv commented on #1590
Fixed, so close it.

[2022-07-20 07:13] #1590 closed

[2022-07-20 07:21] binbinlv opened #1593 "[Bug]: KeyError: 'timesformer_k400_8x224' when running action_classification operator for timesformer model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

KeyError: 'timesformer_k400_8x224' when running action_classification operator for timesformer model

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-20 07:34] wxywb commented on #1591
readme has been updated, please give a check.

[2022-07-20 07:40] aadityasinha-dotcom commented on #1303
ok

[2022-07-20 07:57] #1591 closed

[2022-07-20 08:12] binbinlv opened #1595 "[Bug]: "AttributeError: module 'torchvision.transforms' has no attribute 'Scale'" when running image embdding with DOLG"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

NO error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-20 08:32] wxywb commented on #1592
It has been fixed，please check the latest doc.

[2022-07-20 09:06] #1592 closed

[2022-07-20 09:12] binbinlv commented on #1595
@wxywb
so the readme in the following should be modified.
https://towhee.io/image-embedding/dolg

[2022-07-20 10:23] binbinlv opened #1596 "[Bug]: "TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType" when running operator text embedding with dpr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-20 10:32] binbinlv opened #1597 "[Bug]: Code is wrong for text_embedding with dpr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Code is wrong for "nlp-dpr" in readme for this operator
[code]
[code]

Now error 1:
[code]
error 2:
dc.glob("Hello, world.") should like:
[code]

error 3: (if I modify the code, then)
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anythin

[2022-07-20 11:22] #1593 closed

[2022-07-20 11:28] jaelgu opened #1599 "[Bug]: Fail to load with model name 'svt_vitb_k400'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![HzDbSRw9Zs](https://user-images.githubusercontent.com/86251631/179970753-5e1711cf-504a-4743-9fa4-5e86e093b07d.jpg)

- The weights is downloaded by the url in `timesformer_utils.py`

### Expected Behavior

- Move svt model name from `timesformer_utils.py` to `svt_utils.py`
- Remove url if th

[2022-07-21 02:49] reiase opened #1602 "[Enhancement]: stable code formating"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The developers are using different editors and IDEs when developing towhee, making the format of code not stable. We can use a git hook to reformat the code before commit:

[code]

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-07-21 06:14] jaelgu opened #1604 "[Bug]: Video decoder fails to return specified number of frames."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error found in https://github.com/towhee-io/examples/blob/main/video/reverse_video_search/1_reverse_video_search_engine.ipynb :

[code]

RuntimeError: input image (T: 15 H: 8 W: 8) smaller than kernel size (kT: 16 kH: 7 kW: 7)

<img width="1021" alt="image" src="https://user-images.githubuser

[2022-07-21 07:01] binbinlv opened #1605 "[Bug]: TypeError: __init__() takes 1 positional argument but 2 were given"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-21 07:03] binbinlv commented on #1605
@wxywb
And for this operator, duplicate "transformer" exists too.

numpy
--
  | transformers>4.19.0
  | torch
  | transformers
  | towhee

Please have a look too.

Thanks.

[2022-07-21 08:01] binbinlv opened #1606 "[Bug]: Code is wrong for text embedding with longformer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://towhee.io/text-embedding/longformer
[code]

### Expected Behavior

[code]

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-07-21 08:04] jaelgu commented on #1606
@binbinlv fixed by updating https://towhee.io/text-embedding/longformer

[2022-07-21 08:08] binbinlv commented on #1606
Fixed, so close it.

[2022-07-21 08:08] #1606 closed

[2022-07-21 08:26] jaelgu commented on #1604
/close since fixed.

[2022-07-21 08:26] #1604 closed

[2022-07-21 09:38] #1545 closed

[2022-07-21 09:41] binbinlv commented on #1589
@filip-halt
Hi, filip, could you help to fix this issue? Thanks.

[2022-07-21 10:33] jaelgu opened #1607 "[DesignProposal]: Audio preprocessing operators"
### Background and Motivation

- As per user request, allow more flexible audio decoder (customize length)
- An individual audio preprocessor can support more audio models and enhance audio-related solutions

### Design

Need more operators to support audio-related solution:

- [audio decoder](https://towhee.io/audio-decode/ffmpeg): allow to extract audio frames with `num_frames` or `start_sec` &

[2022-07-21 12:05] wxywb commented on #1605
model_name argument has been added.

[2022-07-21 12:18] binbinlv commented on #1605
Fixed, so close it.

[2022-07-21 12:18] #1605 closed

[2022-07-21 12:22] binbinlv commented on #1595
Fixed，so close it.

[2022-07-21 12:22] #1595 closed

[2022-07-21 12:43] binbinlv opened #1608 "[Bug]: TypeError: forward() got an unexpected keyword argument 'labels'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-21 13:58] binbinlv opened #1609 "[Bug]: ModuleNotFoundError: No module named 'parse_config' for video-text-embedding with collaborative-experts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

https://towhee.io/video-text-embedding/collaborative-experts

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-21 22:52] filip-halt opened #1610 "[DesignProposal]: Support mmap in DataFrame"
### Background and Motivation

DataCollection map supports multiple functions, dataframe should aswell for cmap.

### Design

Follow the style of DataCollection

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-07-22 03:03] jaelgu commented on #1608
@binbinlv Fixed by https://towhee.io/text-embedding/longformer.

[2022-07-22 11:50] binbinlv commented on #1608
Fixed, so close it.
[code]

[2022-07-22 11:52] #1608 closed

[2022-07-22 11:56] binbinlv commented on #1589
After the fix of @jaelgu, now the module not found error is fixed, but has the following error:
[code]

[2022-07-22 11:57] binbinlv commented on #1589
@jaelgu
It seems "detectron2" was not downloaded automatically, then how to install "detectron2"?

[2022-07-22 12:01] binbinlv commented on #1609
@zc277584121
what is the progress now?

[2022-07-22 13:19] zc277584121 commented on #1609
It's caused by a pytorch issue:
https://github.com/pytorch/pytorch/issues/3678

[2022-07-22 14:13] binbinlv opened #1615 "[Bug]: video-decode could not be successful in python 3.6 for failure to install av"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-22 14:18] binbinlv commented on #1589
1. The first issue is here "detectron2" could not be installed successfully through "pip install detectron2"

2. And when installed detectron2 manually, it reports error:
'Image' object has no attribute 'to_ndarray'.

@fzliu  hello, frank, could you please help to fix this? Thanks.

[2022-07-22 16:39] filip-halt commented on #1589
pip is having trouble with the link. The requirements link needs to be `detectron2 @ git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2` for detectron2.

[2022-07-22 16:45] filip-halt commented on #1589
to_ndarray removed as Images are now subclasses of ndarray, so calling directly on the image works.

[2022-07-22 19:26] filip-halt commented on #1615
I believe that this is due to not having ffmpeg installed on the system. PyAv is a binding for ffmpeg, so you need to have it installed as a shared library first.

[2022-07-22 19:32] filip-halt commented on #1615
I believe this is the PyAv issue: https://github.com/PyAV-Org/PyAV/issues/817

[2022-07-25 04:11] binbinlv opened #1619 "[Bug]: The operator list on summary page is not the same with that on the showing table"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The operator list on summary page is not the same with that on the showing table
(1) https://towhee.io/tasks/detail/operator?field_name=Natural-Language-Processing&task_name=Text-Embedding
     [Explore all operators of text embedding task](https://towhee.io/operators?filter=1%3AText%20Embedd

[2022-07-25 07:35] binbinlv opened #1623 "[Bug]: Some operators are not compatible with others for dependency conflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Some operators are not compatible with others for dependency confilict

### Expected Behavior

All the operators are compatible

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-07-25 07:37] zc277584121 commented on #1609
I have updated this model to avoid this problem.

[2022-07-25 10:29] binbinlv commented on #1609
Fixed，so close it.
[code]

[2022-07-25 10:29] #1609 closed

[2022-07-25 10:41] Chiiizzzy opened #1626 "[Bug]: DC set_parallel does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="583" alt="截屏2022-07-25 18 39 43" src="https://user-images.githubusercontent.com/72550076/180758532-742e0e4d-dcd0-4f91-981a-b91bde9a1dce.png">
<img width="644" alt="截屏2022-07-25 18 39 53" src="https://user-images.githubusercontent.com/72550076/180758539-4f31174e-ab60-4916-b9ef-4e6b

[2022-07-25 11:15] binbinlv commented on #1615
@filip-halt so this issue should be left as known issue until the fix of https://github.com/PyAV-Org/PyAV/issues/817?

@junjiejiangjjj

[2022-07-25 11:22] binbinlv commented on #1589
@filip-halt The following error still exists.  And I see your code in the "requirements" has been commented:
detectron2
# https://github.com/facebookresearch/detectron2/archive/refs/tags/v0.6.tar.gz
https://towhee.io/object-detection/detectron2/src/branch/main/requirements.txt

[code]

[2022-07-25 11:25] binbinlv commented on #1597
This operator page has been deactivated, so cancel it.

[2022-07-25 11:25] #1597 closed

[2022-07-25 11:26] binbinlv commented on #1596
https://towhee.io/towhee/nlp-dpr
The above operator has been deactivated, so cancel it.

[2022-07-25 11:26] #1596 closed, assigned to oneseer

[2022-07-25 22:49] filip-halt commented on #1626
I believe this occurred due to the introduction of the config mixin. There was one bug that i fixed here: https://github.com/towhee-io/towhee/commit/8b08f3d294ecc1ac623c79cd40c82526314ce897 but there may be a few more.

[2022-07-25 22:52] filip-halt commented on #1615
I believe so, but I think @junjiejiangjjj is the better person to ask.

[2022-07-26 02:02] binbinlv commented on #1615
@junjiejiangjjj

So this issue should be left as known issue until the fix of https://github.com/PyAV-Org/PyAV/issues/817?

[2022-07-26 02:03] binbinlv commented on #1554
Fixed, so close it.

[2022-07-26 02:03] #1554 closed

[2022-07-26 02:10] junjiejiangjjj commented on #1615
Both `video-decode.ffmpeg` and `audio-decode.ffmpeg ` use `pyav`. FOr it doesn't have a whl package for python3.6, if you want to use it in python3.6, you'd better install it by yourself (https://github.com/PyAV-Org/PyAV#installation)

[2022-07-27 06:33] binbinlv commented on #1589
Fixed, so close it.
[code]

[2022-07-27 06:33] #1589 closed

[2022-07-27 06:39] binbinlv commented on #1615
Set this issue as known issue for the issue of pyav.

[2022-07-27 09:41] Chiiizzzy commented on #1626
https://zilliverse.feishu.cn/docx/doxcnDUAMa4Vu9D39CsVSvraGrK

[2022-07-27 09:41] #1626 closed

[2022-07-27 14:36] #1429 closed

[2022-07-27 17:57] filip-halt commented on #1626
[Parallel Report.pdf](https://github.com/towhee-io/towhee/files/9202401/Parallel.Report.pdf)

[2022-07-27 18:19] filip-halt commented on #1626
Please upload as pdf next time.

[2022-07-28 08:04] soulteary opened #1641 "[Documentation]: Optimized installation description"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Hello maintainers, 👋

I saw that in the project Readme, when installing Towhee, it was mentioned that `pip` needs to be updated.

This is actually not necessary, it will only appear in extreme scenarios, for example, the version of `pip` is very old.

[2022-07-28 10:15] jaelgu opened #1645 "[Bug]: `towhee.from_df` gets column names only & don't support column selection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="669" alt="image" src="https://user-images.githubusercontent.com/86251631/181481854-b263ede2-5a8a-4952-b0fa-1e9313db72ef.png">

### Expected Behavior

- `towhee.from_df` gets full dataframe including values
- `towhee.from_df` supports column selection just like `towhee.read_csv`

#

[2022-07-28 11:08] soulteary opened #1646 "[Documentation]: Add Chinese document support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Currently, we have many Chinese users. However, there is a lack of Chinese documents in our project.

I think it is necessary to provide a README in Chinese. I believe that it can be very helpful to Chinese users.

### Why is this needed?

_No respon

[2022-07-28 11:20] #1646 closed

[2022-07-29 02:09] #1437 closed

[2022-07-29 14:14] Kevinarun opened #1649 "[Bug]: GPU for Image embedding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I want to extract emb from images as there are many images I want to use GPU, but I'm unable to use GPU in colab.

dc = (towhee.glob('/path/to/folder/*')
          .image_decode()
          .image_embedding.timm(model_name='resnet50')
          .to_list()
     )

How can I use GPU?

### Expec

[2022-07-29 21:19] #1432 closed

[2022-07-30 11:13] #1458 closed

[2022-08-01 01:57] angelapytao opened #1651 "[Bug]: The engine died and cant be restarted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Anything else?

_No response_

[2022-08-01 02:06] binbinlv commented on #1651
@reiase
could you help to have a look here?

[2022-08-01 02:11] reiase commented on #1651
@junjiejiangjjj  It seems that the engine hangs when using GPU and multiprocessing. can you take a look at this issue?

[2022-08-01 02:24] junjiejiangjjj commented on #1651
It seems The CUDA runtime does not support the fork start method.   @angelapytao https://pytorch.org/docs/stable/notes/multiprocessing.html#cuda-in-multiprocessing

[2022-08-01 02:28] junjiejiangjjj commented on #1651
![image](https://user-images.githubusercontent.com/14136703/182060689-2e248878-4964-49e7-83c5-c4aa59e08d42.png)
One solution is to import torch in subprocess.

[2022-08-01 03:39] angelapytao commented on #1651
I import torch in subproces. The issue still exist.

[2022-08-01 03:45] junjiejiangjjj commented on #1651
Could you share your code?

[2022-08-01 03:51] angelapytao commented on #1651
[code]

[2022-08-01 03:59] binbinlv commented on #1649
@jaelgu

Could you help to answer this question? Thanks.

[2022-08-01 05:36] junjiejiangjjj commented on #1651
The process is blocked by queue, I change some code and the process can exit. It is just an easy fix to show you why the process is blocked.
![image](https://user-images.githubusercontent.com/14136703/182078779-5d1c9cc2-435d-41a3-a53b-9a43638448b6.png)
![image](https://user-images.githubusercontent.com/14136703/182078826-697db3a8-e673-49e1-b39c-39b0b17ab2d2.png)

I test it by the code:
![image](ht

[2022-08-01 05:49] angelapytao commented on #1651
I changed ,and test
<img width="1155" alt="image" src="https://user-images.githubusercontent.com/5369411/182080706-1ae1bca0-6016-4770-9e1e-df0ac615697a.png">

[2022-08-01 05:49] angelapytao commented on #1651
The engine died and cant be restarted

[2022-08-01 05:52] angelapytao commented on #1651
And, I change tensorflow keras， it works OK in Centos

[2022-08-01 05:58] angelapytao commented on #1651
comment  the line  pp = pipeline('towhee/image-embedding-resnet50'), change another way to exatract embeddings, the whole code works fine. I think the reason caused by pipeline('towhee/image-embedding-resnet50')

[2022-08-01 05:58] junjiejiangjjj commented on #1651
Please use traceback to print the full stack
![image](https://user-images.githubusercontent.com/14136703/182081780-c9d9665d-7759-4099-9be6-3bfdac0f8058.png)

[2022-08-01 06:09] angelapytao commented on #1651
2022-08-01 14:12:20,838 - 140562497996608 - save.py-save:32 - ERROR: Traceback (most recent call last):
  File "/angelapytao/milvus_web_server/milvus_api_server/operations/save.py", line 26, in image_embedding_resnet50
    pp = pipeline('towhee/image-embedding-resnet50')
  File "/angelapytao/milvus_web_server/milvus_api_server/env/lib/python3.9/site-packages/towhee/engine/factory.py", line 224, in

[2022-08-01 06:20] angelapytao commented on #1651
And I use pipeline found another issue, when the python program works a while, the process hang on, the process exist, and has no exception. But client cannot access the interface anymore.
<img width="1204" alt="image" src="https://user-images.githubusercontent.com/5369411/182084631-599c8e94-f1af-4b67-a7ec-2f0b250a86c6.png">

[2022-08-01 06:21] angelapytao commented on #1651
There is no
 `_end_op ends with status: RunnerStatus.FINISHED, graph_context.py-graph_context:136 - INFO: Graph 25872 end.`, so I think why the program hangs on...

[2022-08-01 07:14] junjiejiangjjj commented on #1651
Please find towhee/towhee/engine/task_scheduler.py,
change the code of  `TaskScheduler.schedule_forever`

[code]

[2022-08-01 07:16] junjiejiangjjj commented on #1651
Can you open another issue? And if the problem occurs again, please use `stack` or `pstrace` to find when the process hangs.

[2022-08-01 07:24] angelapytao commented on #1651
<img width="1172" alt="image" src="https://user-images.githubusercontent.com/5369411/182094999-85802014-4ede-4030-a22e-f2f6570d6d23.png">

[2022-08-01 07:29] angelapytao opened #1652 "[Bug]: use pipeline, when the python program works for a while, the process hang on, the process exist, and has no exception. But client cannot access the interface anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 I use pipeline found another issue, when the python program works a while, the process hang on, the process exist, and has no exception. But client cannot access the interface anymore.
![image](https://user-images.githubusercontent.com/5369411/182095759-5e3375f1-8d04-4adb-96df-d867e574860a.p

[2022-08-01 07:48] junjiejiangjjj commented on #1651
Are there any errors from `towhee/towhee/engine/task_scheduler.py::TaskScheduler.schedule_forever`
The error means the backend thread has exited, TaskScheduler.schedule_forever is the thread loop, we can catch the exception and find the errors.

[2022-08-01 07:50] angelapytao commented on #1651
No errors from towhee/towhee/engine/task_scheduler.py::TaskScheduler.schedule_forever

[2022-08-01 07:59] angelapytao commented on #1651
<img width="1234" alt="image" src="https://user-images.githubusercontent.com/5369411/182101332-8f616425-2fbb-4d69-8553-5312915357fb.png">
I change CustomOperator, It works fine.

[2022-08-01 09:09] junjiejiangjjj commented on #1651
In the parent process, does there create a pipeline?

[2022-08-01 09:09] junjiejiangjjj commented on #1651
In the parent process, does there create a pipeline?

[2022-08-01 09:13] Chiiizzzy opened #1653 "[DesignProposal]: Support parallel in GPU"
### Background and Motivation

#### Multi Stream
When setting multi stream manually:
[code]
<img width="1845" alt="截屏2022-08-01 16 56 09" src="https://user-images.githubusercontent.com/72550076/182301921-e6c708da-2eee-4fe5-9928-37caef4c29d4.png">
The green parts represent the execution of torch.mm. Running in two streams separately, realize parallel.

#### Single Stream(Default)
[code]
<img width=

[2022-08-01 09:14] angelapytao commented on #1651
Yes, in main create a pipline for other interface to use.

[2022-08-01 09:16] jaelgu opened #1654 "[Bug]: Fail to download op "deepfake""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Fail to download op: https://towhee.io/towhee/deepfake (with git-lfs installed)

[code]
<img width="715" alt="image" src="https://user-images.githubusercontent.com/86251631/182115656-1fba242c-7653-4709-9346-43388c2feae0.png">

- able to git clone other repos (towhee repo)
- able to download o

[2022-08-01 09:24] angelapytao commented on #1651
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/5369411/182116817-90500bfc-edae-4fc3-9dd1-97152838ac16.png">
<img width="565" alt="image" src="https://user-images.githubusercontent.com/5369411/182117207-ab106dad-6761-4bec-b3c3-a83d0fcaf82b.png">
I catch exception in sub process. Is the reason parent Empty exception influce the pipeline engine start?

[2022-08-01 09:25] junjiejiangjjj commented on #1651
towhee pipeline would create a thread,  and in the subprocess, the thread died and could not start again.

[2022-08-01 09:38] reiase commented on #1653
@Chiiizzzy could you please post the detailed design instead of posting a link in this issue?

[2022-08-01 09:46] zhujiming commented on #1654
This  item is too big, you can use command

[2022-08-01 09:51] jaelgu commented on #1654
git clone --depth1 works. @reiase @Chiiizzzy But is this (--depth 1) enabled when we call the operator in python? Because when I call it in python with dc and it gives me broken weights files, leading to failure of loading weights.

[2022-08-01 11:49] junjiejiangjjj commented on #1651
Towhee has some backend threads, global variables, and locks,  if you want to start the subprocess to run pipeline,  use `Popen`, or just run the pipeline in other threads. @angelapytao

[2022-08-01 20:19] #1461 closed

[2022-08-02 06:15] JinXia77 opened #1656 "[Bug]: operator towhee/load-image not found!"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Current Behavior

I followed the process of offical document of towhee [DataCollection](https://docs.towhee.io/User%20Guides/DataCollection/data-collection/) occured "operator towhee/load-image not found!" error when I run below codes.
`dataset = DataCollection.from_glob('towhee.jpeg') \
        .load_image()

[2022-08-02 07:35] binbinlv commented on #1656
Recently, we changed some API name, some example has expired, we will fix it, thanks very much.

[2022-08-02 08:06] angelapytao commented on #1651
OK，got it. Thx!

[2022-08-03 02:05] junjiejiangjjj commented on #1652
if the problem occurs again, please use `stack` or `pstrace` to find where the process hangs. I have run the pipeline 1000000 times, but the problem has not occurred.

[2022-08-03 07:22] junjiejiangjjj opened #1659 "[Bug]: lost op_config info."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

the result lost the `format_priority` info.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-08-03 08:13] zhujiming commented on #1659
#1661
this pr will fix this bug. And test result like
`{'de3264c7': {'op': 'map', 'op_name': 'image-decode/cv2-rgb', 'is_stream': True, 'init_args': {}, 'call_args': {'*arg': (<towhee.engine.factory._OperatorLazyWrapper object at 0x12c51c580>,), '*kws': {}}, 'op_config': {'chunksize': None, 'jit': None, 'format_priority': None, 'instance_count': 2}, 'input_info': None, 'output_info': None, 'parent

[2022-08-03 08:19] yfq512 commented on #1653
@ reiase
like this code
[code]
how can assign a video_text_embedding（[0.31566384, -0.07464158, -0.023179442, ...] shape=(480,)
） to a variable

[2022-08-03 08:20] yfq512 commented on #1615
@junjiejiangjjj
like this code
[code]
how can assign a video_text_embedding（[0.31566384, -0.07464158, -0.023179442, ...] shape=(480,)
） to a variable

[2022-08-03 08:27] junjiejiangjjj commented on #1615
@reiase

[2022-08-03 08:44] yfq512 commented on #1615
I have soloved this issues, like this
[code]

[2022-08-03 10:54] #1659 closed

[2022-08-03 11:44] nzmyaaa opened #1663 "[Bug]: I use towhee's blip model to extract the features of the image-text pairs in my training set, but it consumes memory. The training set is about 5,000. I don't know what the reason is, which makes it impossible to train.even the batch-size=1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 blip_images = towhee.glob(image_path) \
                .image_decode() \
                .image_text_embedding.blip(model_name='blip_base', modality='image')
            blip_texts = towhee.dc([text_path]) \
                .image_text_embedding.blip(model_name='blip_base', modality='text')

[2022-08-03 20:36] #1452 closed

[2022-08-04 19:00] #1486 closed

[2022-08-05 06:07] aadityasinha-dotcom commented on #1303
any uodate?

[2022-08-05 09:18] #1649 closed

[2022-08-08 01:35] angelapytao commented on #1652
I use strace found
<img width="1283" alt="image" src="https://user-images.githubusercontent.com/5369411/183321586-c0a7a1d2-6d6b-4555-b9c0-7201e4b44eaa.png">

[2022-08-08 01:39] angelapytao commented on #1652
cat /proc/142637/stack
<img width="389" alt="image" src="https://user-images.githubusercontent.com/5369411/183321899-0ead8c21-b006-4903-ad7e-c29e606b1bb1.png">

[2022-08-08 01:39] yfq512 opened #1673 "towhee的输入可以是二进制数据么？"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

通关查看相关例子，发现图像、视频提取特征的输入基本都是path，但我的实际场景很多输入都是图像、视频的url，但我又不想落盘下载到本地，请问towhee支持输入url或者下载的二进制数据么？

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_N

[2022-08-08 01:47] yfq512 commented on #1673
此外，我看到的例子基本都是批量提取特征等操作，请问towhee有没有针对流式数据处理的场景呢？不然每来一条数据都需要加载一遍模型，浪费了很多时间

[2022-08-08 08:20] reiase commented on #1673
Hi, @yfq512. The data pipeline can be converted into a callback function. You can refer to the codes in the last section of our image search example: https://github.com/towhee-io/examples/blob/main/image/reverse_image_search/1_build_image_search_engine.ipynb

[2022-08-08 08:28] Chiiizzzy opened #1676 "[Bug]: CI failed to install requirements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://github.com/towhee-io/towhee/runs/7720888625?check_suite_focus=true

When running codecov workflow in our own GPU machine, we will create a new virtual env `towhee-ut`, and install requirements in this env. However, I found that many requirements already exists in `/home/super/actions-

[2022-08-08 08:32] jennyli-z commented on #1676
@binbinlv please help have a look, as self hosted machine is controlled by you.

[2022-08-08 08:53] junjiejiangjjj commented on #1652
Any other infos?  the stack is very similar to this https://stackoverflow.com/questions/68125101/python-multiprocessing-getting-stuck  maybe because of multiprocessing.

[2022-08-09 09:02] angelapytao commented on #1652
I raise up the single python process separately, within single python process, there is no multiprocessing.

[2022-08-10 02:56] yfq512 commented on #1673
@reiase 感谢回复，我找到了图片不落盘的加载方法，
[code]
请问视频不落盘的方法有么？

[2022-08-11 03:07] reiase commented on #1673
@junjiejiangjjj  Do we support decoding video streams from HTTP addresses?

[2022-08-11 07:15] aiot-tech opened #1688 "[Bug]: ModuleNotFoundError: No module named 'towhee'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After the installation of towhee is completed, it cannot be imported, nor can it be reinstalled

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-08-11 07:22] binbinlv commented on #1688
@aiot-tech
could you run "pip show towhee"?

[2022-08-11 07:26] aiot-tech commented on #1688
```pip show towhee```
The output is as follows:
[code]

[2022-08-11 07:27] junjiejiangjjj commented on #1673
The op https://towhee.io/video-decode/ffmpeg can load video from  HTTP addresses.

[2022-08-11 07:31] binbinlv commented on #1688
@aiot-tech
Now the latest is 0.7.3, could you please run "pip uninstall towhee" then "pip install towhee" and check whether it is 0.7.3 now.

And maybe you need pay attention which python env you are using if you have several python versions in your system.

maybe "python3 -m pip install towhee" could make sure you have the same python version when you running "import towhee" in python3 terminal.

[2022-08-11 07:52] aiot-tech commented on #1688
What a stupid mistake I make.You are right, I import it with another python interpreter. Thx a lot:)

[2022-08-11 07:52] #1688 closed

[2022-08-11 08:20] yfq512 commented on #1673
搞定了，谢谢你们🌹

[2022-08-11 09:05] yfq512 commented on #1673
@junjiejiangjjj 感谢回复，还遇到个问题，如果输入是 HTTP addresses ，如何设置超时参数呀

[2022-08-11 09:26] junjiejiangjjj commented on #1673
The decoders don't support it, you can open a new issue to trace it.

[2022-08-12 01:38] yfq512 commented on #1673
@junjiejiangjjj 我看到的例子基本都是批量提取特征等操作，请问towhee有没有针对流式数据处理的场景呢？

[2022-08-12 18:39] #1438 closed

[2022-08-12 18:39] #1517 closed

[2022-08-14 13:23] #1321 closed

[2022-08-14 13:23] #1350 closed

[2022-08-14 13:23] #1521 closed

[2022-08-14 13:23] #1520 closed

[2022-08-15 08:25] zc277584121 opened #1693 "[Bug]: Some video is difficult to decode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

video file name is Clip71_LawAndOrder_WithSubs.mov.
I have send this file to @junjiejiangjjj.
When I use [video-decode](https://towhee.io/video-decode/ffmpeg) to decode this video, it get this problem:
[code]
But my local player app can play this video normally.

### Expected Behavior

_No re

[2022-08-16 08:03] binbinlv opened #1705 "[Bug]: Error "No module named 'torch" when importing towhee"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error "No module named 'torch" when import pipeline from towhee
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-08-16 11:04] #1705 closed

[2022-08-16 11:06] binbinlv commented on #1705
Verified and fixed.

[2022-08-17 01:04] yfq512 commented on #1673
@junjiejiangjjj towhee支持多线程么，我使用python自带的线程池，多任务并行处理，速度几乎没有提升？请问有多线程么的示例么？

[2022-08-17 02:02] junjiejiangjjj commented on #1673
@Chiiizzzy

[2022-08-17 02:17] Chiiizzzy commented on #1673
We provide a function `set_parallel` to support multi-thread, here is an example:
[code]

[2022-08-17 02:28] soulteary opened #1717 "[Enhancement]: Adjust the file name to be consistent with the project code style"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

PR: https://github.com/towhee-io/towhee/pull/1716

I found a problem in the previous PR, the naming of the Chinese document is not consistent with the project code style.

In this commit, I fixed the issue, replacing hyphens with underscores.

### Why is this needed?

_No resp

[2022-08-17 02:51] yfq512 commented on #1673
@Chiiizzzy 感谢回复，我实际的场景是“生产者消费者”模式，每次消费kafka数据，只针对一张图片进行处理，但短时间内会有许多张图需要处理，感觉上述的例子就不太适合我这个场景（这个例子更像是已知一批数据，再去处理），实际上我只是用x3d模型提取图像、视频的特征。（其实我更倾向直接基于pytorch进行推理，得到视频、图像的特征，但没找到相关的示例😂）
请问有没有针对这种数据流式的场景的示例呢？

[2022-08-17 02:52] #1717 closed

[2022-08-17 03:08] soulteary opened #1720 "[Documentation]: Update Chinese document content"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

PR: https://github.com/towhee-io/towhee/pull/1719

What's new in the latest release 0.7.3 is missing from the Chinese documentation.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-08-17 03:14] #1720 closed

[2022-08-17 03:24] reiase commented on #1673
hello @yfq512, I suggest that you can use a generator as dc input, for example:

[code]

[2022-08-17 03:24] reiase commented on #1673
hello @yfq512, I suggest that you can use a generator as dc input, for example:

[code]

[2022-08-17 03:47] yfq512 commented on #1673
@reiase 我这样做的：
[code]

这样用towhee是不是效率很低呢，开启python自带的线程池速度甚者还不如单线程😄

[2022-08-17 05:51] reiase commented on #1673
hi @yfq512, towhee can parallize the code and handle the exceptions for you. All you need to do is re-orginizing the code as a data processing pipeline:

[code]

[2022-08-17 11:54] filip-halt opened #1730 "[DesignProposal]: Guide to towhee ci/cd pipeline"
### Background and Motivation

When making a PR that adds inline comments and docstring improvements, codecov might have a tiny delta due to non-determinism, ultimately blocking the PR with a failed codecov case.

### Design

Add a new label for pr's that signifies that the PR should be force merged, as long as the reviewer reviews docstrings and such. Some ideas were `review/codecov` and `type/ap

[2022-08-17 15:31] reiase commented on #1730
can we change the title of the issue to "guild to towhee ci/cd pipeline", or something like that?

[2022-08-18 01:28] yfq512 commented on #1673
@reiase
[code]
“ action_classification.pytorchvideo['img', 'feature'](model_name='x3d_m')” 这行报错：
[code]
这是什么原因呀？

[2022-08-18 02:16] yfq512 commented on #1673
我觉得修改这种流水线式的程序很难调试，是否可以基于pytorch 和 x3d模型，直接推理特征呀？

[2022-08-18 06:55] soulteary opened #1738 "[Enhancement]: Complete the Docker image of the Towhee project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Currently Towhee builds docker images and hardcodes software mirror in China, maybe we should switch this configuration to optional to better meet the needs of all users.

If this proposal is good, I will gradually submit the code to solve this problem:

- [x] Allow users to s

[2022-08-19 02:48] soulteary opened #1758 "[Documentation]: Updated documentation based on the latest release of v0.8.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

During the reading of the documentation, I found that the content of the recently released v0.8.0 was missing from the README.

In order for more people to understand and use the latest version of Towhee, we should probably improve this content.

- [

[2022-08-19 03:13] soulteary commented on #1673
In my opinion, if your pipeline process is relatively simple, the usage scenarios are based on traffic, not batch processing.

Use Towhee v0.8.0 to generate services docker image with one-click, and then perform horizontal elastic expansion through Docker.

With the internal application gateway, it is easier to improve performance while maintaining flexibility. @yfq512

// In addition to discussin

[2022-08-19 03:45] soulteary opened #1768 "[Enhancement]: Reduce file accumulation in project root directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

The root directory of the current Towhee project contains a lot of content, including some pictures that are only referenced by the documentation

If these pictures are placed in a dedicated directory, the number of files in the root directory of the project can be reduced, an

[2022-08-19 04:35] soulteary commented on #1758
Now, I can see that the documents that should be updated are kept up to date, and this issue should be closed.

[2022-08-19 04:35] #1758 closed

[2022-08-19 05:05] #1768 closed

[2022-08-19 16:05] filip-halt commented on #1730
https://github.com/towhee-io/towhee/pull/1752

An example of a pull request that cant be merged because files that werent changed have different codecov results.

[2022-08-22 07:00] yfq512 opened #1811 "How set query conditions for "milvus_search""
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

yes

### Describe the solution you'd like.

I have query similar datas from milvus, and it work well

[code]
But  how set query conditions for "milvus_search", such as "time > 10"?

### Describe an alternate solution.

[code]
我可以设置 " "app_id == {

[2022-08-22 09:18] yfq512 commented on #1673
@reiase 使用 set_parallel(5) 设置多线程时，程序有时会不工作，删除 set_parallel(5) 这行就能100%工作，这是为什么，怎么解决呢？

[2022-08-22 15:32] wbc110460 opened #1818 "[Bug]: ValueError: operator image-decode/cv2 not found!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Thanks for read this.
I just follow this guide,
https://codelabs.towhee.io/build-a-reverse-image-search-engine-in-minutes/index#2

And I meet the bug. ValueError: operator image-decode/cv2 not found!

How can i deal with it ?
Thank you for your help

### Expected Behavior

No

### Steps To Re

[2022-08-23 01:47] shiyu22 commented on #1818
Hi @wbc110460 , which version of towhee are you using? I think it required towhee>=0.7.

[2022-08-23 02:19] shiyu22 commented on #1811
Hi @yfq512,  of course, the parameters in milvus.search() can be passed directly to the milvus_search Operator, but the parameter name needs to be specified, such as:
[code]

[2022-08-23 03:05] yfq512 commented on #1811
@shiyu22 Thanks for your reply, another question, when I set ".set_parallel(5)" in "towhee.dc()", It don't work sometimes, and when I delete the line ".set_parallel(5)", It will work well always.
Why?

[2022-08-23 03:19] yfq512 commented on #1811
感谢您的回复，现在我知道了是可以通过 expr 设置查询条件的，但是：
像这样：```.milvus_search['feature', 'result'](collection=collection, limit=10, expr="app_id== {}".format(???app_id))```
我该如何把 app_id 传进去，这里的 app_id 是个变量。
我不太熟悉towhee.dc()的编程方式，并且没找到相关的示例，您能写个简单的示例么？万分感谢！

[2022-08-23 04:03] shiyu22 commented on #1811
I think you are right and you can try it, and you can also run with `.milvus_search['feature', 'result'](collection=collection, limit=10, expr='app_id== {app_id}')`.

[2022-08-23 04:48] shiyu22 commented on #1811
Is there any error message? I met this issue before, but it's because no cuda memory, I think you can also check your memory changes.

[2022-08-23 06:17] yfq512 commented on #1811
我的程序大概是这样的：
[code]
app_id 可以从 read_kafka 生成器拿出来，但不知道怎么传到milvus_search，[ ] 内可以填多个变量么，这样可以么？```.milvus_search['feature', 'result', 'app_id'](collection=collection, limit=10, expr='app_id== {app_id}')```

[2022-08-23 06:19] yfq512 commented on #1811
没任何报错，主程序不退出，也没反应，我用的是cpu，感觉就像是线程里面的程序挂了，但towhee就像个黑盒不知道里面发生了什么。

[2022-08-23 07:23] shiyu22 commented on #1811
Got it, I think what you need is to set the app_id parameter, for example:
[code]

[2022-08-23 08:14] yfq512 commented on #1811
@shiyu22 这样写的话，多线程 ".set_parallel( )" 还能用吗😄，可以在 milvus_search [] 内传多个参数么？

[2022-08-23 08:14] yfq512 commented on #1811
这样写的话，多线程 ".set_parallel( )" 还能用吗😄，可以在 milvus_search [] 内传多个参数么？

[2022-08-23 11:07] shiyu22 commented on #1811
I think set_parallel() will work. And the milvus_search operator just gets the query vector as the data parameter in [collection.search](https://milvus.io/docs/v2.1.x/search.md#Conduct-a-vector-search), so it cannot add muti-parameters in [].

[2022-08-23 14:11] wbc110460 commented on #1818
but my towhee is (0.8.0). emm

[2022-08-23 14:53] wbc110460 commented on #1818
Oh. I reinstalled it once again, and it ran.

[2022-08-23 14:54] wbc110460 commented on #1818
but in this url:https://codelabs.towhee.io/build-a-reverse-image-search-engine-in-minutes/index#3
I can't find the func read_images :  (func=read_images)
how can i deal with it?

[2022-08-24 01:52] shiyu22 commented on #1818
You can refer to the [notebook](https://github.com/towhee-io/examples/blob/main/image/reverse_image_search/1_build_image_search_engine.ipynb), it seems that the website lacks this function, I will add it, thank you :)

[2022-08-24 03:57] jaelgu opened #1867 "[Bug]: Missing requirements for operator image_decode.nvjpeg"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://towhee.io/image-decode/nvjpeg

[code]

ModuleNotFoundError: No module named 'cv2'

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-08-24 05:27] fzliu commented on #1652
@angelapytao were you ever able to resolve your issue?

[2022-08-25 10:51] soulteary opened #1908 "[Enhancement]: Apple M1/M2 Chip MPS Backend Support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to be added?

Now, MPS's support for Pytorch is getting better and better. Since Towhee has started to support GPU, why not support MPS as well?

- Pytorch Project: https://github.com/pytorch/pytorch/labels/module%3A%20mps
- Pytorch Website: https://pytorch.org/blog/introducing-accelerated-

[2022-08-25 11:01] soulteary commented on #1738
It looks like the problem has been solved and this issue can be closed. @reiase  🍻

[2022-08-25 11:01] #1738 closed

[2022-08-26 02:08] shiyu22 opened #1913 "[Bug]: grcpio VersionConflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I start triton server, and run the following code
[code]
It will show the VersionConflict error:
[code]
And when I reinstall grpcio>=1.47.0 it will show that tritonclient [requires grpcio==1.41.0](https://github.com/triton-inference-server/client/blob/main/src/python/library/requirements

[2022-08-26 02:14] shiyu22 commented on #1913
There is a [PR](https://github.com/triton-inference-server/client/pull/92) to solve the VersionConflict, maybe we can use it.

[2022-08-27 02:57] angelapytao commented on #1652
@fzliu still exist. occasionally happened.

[2022-08-27 02:59] angelapytao commented on #1652
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/5369411/187011696-7b6c8ff7-2c41-4001-986f-27d62b873103.png">

[2022-08-27 12:11] utopictown opened #1933 "[Bug]: Task exceeded maximum timeout value (180 seconds)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Im running milvus app on top fastapi served using supervisord in a docker, and SOMETIMES i had ```Task exceeded maximum timeout value (180 seconds)``` from ```towhee/image-embedding-resnet50``` extractor, is there any way to increase the timeout? or do we have any lead that might cause this?

[2022-08-29 08:33] junjiejiangjjj commented on #1933
Did it happen after the docker container started, if so, it is downloading the model weights, you can build a new docker image that already has downloaded the weights.

[2022-08-29 08:33] #1867 closed

[2022-08-29 09:30] utopictown commented on #1933
how to get one? do you have any docker image example that already has downloaded the weights?

[2022-08-29 09:43] junjiejiangjjj commented on #1933
After installing towhee, you can run cmd `towhee run towhee/image-embedding-resnet50 -i  ${image_path}`, make sure the `image_path` can access when building the docker image.
In your dockerfile, you can add this
[code]

[2022-08-29 10:48] utopictown commented on #1933
thank you, will try

[2022-08-30 23:38] #1568 closed, assigned to reiase

[2022-08-30 23:38] #1559 closed

[2022-08-30 23:38] #1555 closed

[2022-08-30 23:38] #1569 closed

[2022-08-30 23:38] #1570 closed

[2022-08-30 23:38] #1558 closed

[2022-08-30 23:39] #1518 closed

[2022-08-30 23:39] #1462 closed

[2022-08-30 23:39] #1560 closed

[2022-09-05 23:35] #1610 closed

[2022-09-07 00:10] #1573 closed

[2022-09-07 00:10] #1602 closed

[2022-09-07 00:10] #1607 closed

[2022-09-07 00:11] #1619 closed

[2022-09-07 00:11] #1623 closed

[2022-09-07 00:11] #1641 closed

[2022-09-07 00:11] #1645 closed

[2022-09-07 11:46] #1654 closed

[2022-09-09 05:58] harivamsi9 commented on #1303
/reopen

[2022-09-09 06:23] #1656 closed

[2022-09-09 06:23] #1651 closed

[2022-09-09 11:55] #1653 closed

[2022-09-09 11:57] #1615 closed

[2022-09-09 22:51] #1663 closed

[2022-09-13 09:44] suforme opened #2071 "[Bug]: File "pydantic\json.py", line 45, in pydantic.json.lambda UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

from pymilvus import connections, FieldSchema, CollectionSchema, DataType, Collection, utility

connections.connect(host='192.168.0.101', port='19530')

def create_milvus_collection(collection_name, dim):
    if utility.has_collection(collection_name):
        utility.drop_collection(collecti

[2022-09-13 10:41] binbinlv commented on #2071
@suforme thank you for the issue.

Could you please provide which towhee version you are using?

[2022-09-13 10:44] binbinlv commented on #2071
@shiyu22

Could you please help on this issue about milvus search scenario within towhee? thanks.

[2022-09-13 11:14] shiyu22 commented on #2071
Hi @suforme, can you run with curl command, such as `curl -X POST "http://0.0.0.0:8000/search"  --data-binary @test/lion/n02129165_13728.JPEG -H 'Content-Type: image/jpeg'`?

BTW, you can try the [latest notebook](https://github.com/towhee-io/examples/blob/main/image/reverse_image_search/2_deep_dive_image_search.ipynb) and run with Body data in postman:
![image](https://user-images.githubuserconte

[2022-09-13 11:25] suforme commented on #2071
towhee               0.8.0
towhee.models        0.8.0

[2022-09-13 11:31] suforme commented on #2071
Python 3.10.6  @binbinlv

[2022-09-14 07:31] Linzecong opened #2073 "[Feature]: can support more clip model?"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

no

### Describe the solution you'd like.

https://huggingface.co/openai

clip-vit-large-patch14 and clip-vit-large-patch14-336

It seems to have better performance

### Describe an alternate solution.

no

### Anything else? (Additional Context)

[2022-09-15 03:59] zhenzi0322 opened #2076 "[Feature]: Is there any way to get towhee to support batch processing of images"
Example:
[code]

[2022-09-15 14:29] #1676 closed

[2022-09-16 08:26] yxz-git commented on #1673
您好请问一下 使用from_pil的方式可以进行批量转换吗

[2022-09-16 10:48] shiyu22 commented on #2076
Towhee support `batch` interface to run the data in batch, you can refer to [this](https://towhee.readthedocs.io/en/main/data_collection/mixins.html#towhee.functional.mixins.DataProcessingMixin.batch). Is this interface what you want?

BTW, if you want to processing batch images, you can set the img_path as the paths matching a pathname pattern, such as `towhee.glon('all_img/*.jpg', 'all_img/*.png

[2022-09-16 10:59] shiyu22 opened #2082 "[Bug]: TypeError: keywords must be strings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run the following code with the latest (main) towhee version, it randomly shows "TypeError: keywords must be strings", and when I re-run it, it sometimes works, and sometimes it still errors.
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Envir

[2022-09-19 02:55] shiyu22 commented on #2082
I can reproduce it, instead of random, it shows error when I define a function for the first time and then change it:
[code]

[2022-09-21 02:36] suforme opened #2091 "[DesignProposal]: Does it support Chinese picture description model?"
### Background and Motivation

_No response_

### Design

Does it support Chinese picture description model?

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-09-21 05:36] shifentencent opened #2093 "[Bug]: TypeError: 'torch._C.Node' object is not subscriptable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

do this example:
import towhee

towhee.glob('./teddy.jpg') \
      .image_decode() \
      .image_text_embedding.clip(model_name='clip_vit_b32', modality='image') \
      .show()

towhee.dc(["A teddybear on a skateboard in Times Square."]) \
      .image_text_embedding.clip(model_name='clip_v

[2022-09-21 06:11] binbinlv commented on #2093
@shifentencent Thanks for the issue.

May I know what the version of towhee and towhee.models you are using?

[2022-09-21 06:15] binbinlv commented on #2093
@wxywb

Could you help to have a look at his issue?  Thanks.

/assign @wxywb
/unassign

[2022-09-21 06:39] wxywb commented on #2093
Can I have your pytorch vision?

[2022-09-21 09:32] micrazy opened #2095 "[Feature]: towhee可以载入本地的encoder模型吗?"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

想用一些中文CLIP模型，但towhee目前似乎不支持自定义模型哦

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No response_

[2022-09-21 10:17] jaelgu commented on #2095
@micrazy Towhee supports user model as well. You have two options below:

1. wrap the model inference with a function to work with other towhee operators. Here are some example codes:
[code]
2. `towhee.models.clip` also supports some multilingual models (support Chinese).  Check README in this page: https://github.com/towhee-io/towhee/tree/main/towhee/models/clip

[2022-09-21 20:03] #1693 closed

[2022-09-22 03:08] God-song opened #2099 "[Feature]: 使用embedding_pipline,参数必须是图片地址吗，可以是图片的numpy或者torch吗"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

使用embedding_pipline,参数必须是图片地址吗，可以是图片的numpy或者torch吗

### Describe the solution you'd like.

使用embedding_pipline,参数必须是图片地址吗，可以是图片的numpy或者torch吗

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No respon

[2022-09-22 03:43] micrazy commented on #2095
tks, 我试了下确实可以，不过碰到了另外的问题：

[2022-09-22 07:27] zhenzi0322 opened #2102 "[Bug]: Image read exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Read the images:

![555798_8f802d268330d51b2d2410062a6d0209](https://user-images.githubusercontent.com/34839719/191684704-120d5fb9-e401-41bf-a260-7bc570ae680b.jpg)

errors:

![image](https://user-images.githubusercontent.com/34839719/191684782-58a0a420-0369-4939-be17-f0e7005f507e.png)

[code]

[2022-09-22 07:57] jaelgu opened #2103 "[Bug]: Can't skip plyvel installation to run dc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

The code does not requrie plyvel to run, but it fails now if I select "n" to install plyvel.

### Expected Behavior

Only APIs required plyvel should take plyvel as mandatory installation. If the code does not require plyvel, it should work without plyvel installed.

### Steps To Repr

[2022-09-22 08:15] wxywb commented on #2099
Yes, let me show you an example.
[code]
[code]
In the second case, image_decode is no longer needed because the input is np.ndarray now.

[2022-09-22 08:29] wxywb commented on #2102
Hi, I downloaded your image and run with following code.
[code]
It works fine.
Can you check with your opencv-python by
[code]

[2022-09-22 08:37] zhenzi0322 commented on #2102
[code]

[2022-09-22 08:41] wxywb commented on #2102
@zhenzi0322 , you can read this pic(191684704-120d5fb9-e401-41bf-a260-7bc570ae680b.jpeg) with cv2 normally, but still have exception with this pipeline?
[code]
please confirm it once again.

[2022-09-22 08:45] zhenzi0322 commented on #2102
[150084_d4ca9dd5639c6a0ee725c15d77a60358.zip](https://github.com/towhee-io/towhee/files/9623995/150084_d4ca9dd5639c6a0ee725c15d77a60358.zip)

Yes, now there is a new picture with anomalies

[2022-09-22 08:47] binbinlv opened #2106 "[Bug]: Install plyvel failed when running operator nnfp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Install plyvel failed when running operator nnfp

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-22 09:00] wxywb commented on #2102
can this works well for you while another is not? @zhenzi0322
[code]

[2022-09-22 09:04] binbinlv commented on #2102
/assign @wxywb
/unassign

[2022-09-22 09:07] zhenzi0322 commented on #2102
After using your way, it still doesn't work

[2022-09-22 09:09] wxywb commented on #2102
opencv-python                      4.5.5.64

so where is the exception, in **cv.imread** or **towhee.dc**?

[2022-09-22 09:14] zhenzi0322 commented on #2102
That may be the problem caused by the version of opencv-python, I'll try to change to the same version as yours.

[2022-09-22 09:19] zhenzi0322 commented on #2102
This will report an error: 'numpy.ndarray' object has no attribute 'mode'.

[2022-09-22 09:21] zhenzi0322 commented on #2102
![image](https://user-images.githubusercontent.com/34839719/191709737-d93712eb-8afd-4829-a5b1-38eaaec5035c.png)

[2022-09-22 09:26] wxywb commented on #2102
I guess you meet a opencv's issue, please take a look at other versions and retry. Make sure you can read an image in a regular cv2 method, and it will also works for towhee.

[2022-09-22 09:27] zhenzi0322 commented on #2102
The same version as yours is also not working

[2022-09-22 09:28] jaelgu commented on #2095
`tensor_normalize` does normalize the input. You can check docs here: https://towhee.readthedocs.io/en/latest/builtin%20operators/tensor%20like.html . In your case, I think the problem is that you need to squeeze the vec before normalization. i.e. The proper shape should be (512,) instead of (1, 512), which affects the normalization result.

[2022-09-22 09:30] micrazy commented on #2095
NB!

[2022-09-22 09:30] #2095 closed

[2022-09-22 09:37] binbinlv opened #2108 "[Bug]: Pyarrow is required when importing towhee"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Pyarrow is required when importing towhee

### Expected Behavior

Pyarrow is not required when importing towhee

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-22 09:38] binbinlv commented on #2108
![fHceiPrmIg](https://user-images.githubusercontent.com/83755740/191713515-82a99e8c-d1e3-425f-b3bc-7e57acfb7182.jpg)

[2022-09-22 09:41] wxywb commented on #2102
A quick workaround is to using a docker image and run towhee inside it.
or using Pillow instead of cv2
[code]

[2022-09-22 09:48] zhenzi0322 commented on #2102
![image](https://user-images.githubusercontent.com/34839719/191715660-7a64a52b-43df-4951-90f6-371ab69d98d6.png)

[2022-09-22 09:50] #2103 closed

[2022-09-22 09:50] #2106 closed

[2022-09-22 11:26] wxywb commented on #2102
please update to a newer version.
my version is:
towhee                                   0.8.0
towhee.models                      0.8.0

[2022-09-23 03:53] zhenzi0322 commented on #2102
Thanks, it's the towhee version that's the problem

[2022-09-23 03:53] #2102 closed

[2022-09-23 03:56] zhenzi0322 opened #2116 "[Documentation]: towhee how to set up multiple graphics cards to use at the same time, currently has been a graphics card in the extraction of dim"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

Hello, I have two graphics cards on my machine, and when I use towhee, I find that one graphics card is always in use and increasing the video memory, is there a way to set up towhee to use multiple graphics cards at the same time.

### Why is this n

[2022-09-23 06:28] binbinlv commented on #2116
@zhenzi0322
what you mean is that you want to input a picture list rather than only one picture when embedding?

[2022-09-23 06:30] zhenzi0322 commented on #2116
不是，是在`towhee`怎么使用多张gpu。

[2022-09-23 06:32] binbinlv commented on #2116
@junjiejiangjjj

Could you help to answer this question? Thanks.

[2022-09-23 06:34] zhenzi0322 commented on #2116
I want to know how towhee use multiple gpu

[2022-09-23 06:39] junjiejiangjjj commented on #2116
towhee doesn't support multiple GPU now

[2022-09-23 06:41] zhenzi0322 commented on #2116
Okay, so how do you specify the serial number of the gpu used?

[2022-09-23 06:48] Chiiizzzy commented on #2116
import os
os.environ["CUDA_VISIBLE_DEVICES"] = '<device_number>'

[2022-09-23 06:48] Chiiizzzy commented on #2116
import os
os.environ["CUDA_VISIBLE_DEVICES"] = '<device_number>'

[2022-09-23 06:53] zhenzi0322 commented on #2116
Okay, thanks

[2022-09-23 06:53] #2116 closed

[2022-09-23 06:55] jaelgu commented on #2116
@zhenzi0322 Towhee does not support GPU inside its own framework. But it allows deep learning model to use cuda if device is specified inside operator.
So if you want to do anything related to device, you can modify the corresponding operator. (Find `device` in operator and assign device ids properly.)

[2022-09-23 06:56] zhenzi0322 commented on #2116
Ok.

[2022-09-24 07:33] fishfl opened #2123 "[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

我们是一个中国工程师团队，叫ai模型市场（aimodelmarket.cn），

我们将打包好的docker镜像卖个客户，以提供在线人工智能API。

我们惊喜的发现，我们的业务和towhee有很强的互补性。

如何有兴趣进一步合作，请联系我们 fishfl@163.com

期待您的来信。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-09-24 07:51] fzliu commented on #2123
It doesn't look like our two projects are quite the same, but cool project nonetheless. Thanks for getting in touch with us.

[2022-09-24 07:51] #2123 closed

[2022-09-26 03:52] binbinlv opened #2125 "[Bug]: Operator "object_detection.detectron2" runs failed reporting "ModuleNotFoundError: No module named 'detectron2'""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Operator "object_detection.detectron2" runs failed reporting "ModuleNotFoundError: No module named 'detectron2'"
[code]

### Expected Behavior

NO error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-26 07:52] shiyu22 opened #2127 "[Documentation]: Conda install Towhee via the `towhee-io` channel but v0.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

https://docs.towhee.io/Getting%20Started/install/#installing-towhee-with-conda

When I install towhee via `conda install -c towhee-io towhee`, it will install `towhee0.4.0`. Does the latest version in the [default channel](https://anaconda.org/conda-

[2022-09-26 08:00] binbinlv opened #2128 "[Bug]: Operator " collaborative-experts" runs failed with error "ValueError: x.device cpu != cluster.device cuda:0""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Operator " collaborative-experts" runs failed with error "ValueError: x.device cpu != cluster.device cuda:0"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-26 08:23] binbinlv commented on #2128
It is fixed, so close it.
[code]

[2022-09-26 08:23] #2128 closed

[2022-09-26 08:37] binbinlv opened #2130 "[Bug]: User friendly errors should be reported when running operator "image_captioning.blip" in conflict env"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Segment error when running operator "image_captioning.blip"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-09-26 08:43] binbinlv opened #2131 "[Bug]: Value error when running operator "image_captioning.blip""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Value error when running operator "image_captioning.blip"

ValueError: The following `model_kwargs` are not used by the model: ['encoder_hidden_states', 'encoder_attention_mask'] (note: typos in the generate arguments will also show up in this list)

### Expected Behavior

No error

### Steps

[2022-09-26 11:17] #1730 closed

[2022-09-26 14:32] wbc110460 opened #2132 "[DesignProposal]: Do you have a plan to make an example for "video question answer"?"
### Background and Motivation

_No response_

### Design

I saw that we provided the model for "video question answer"， but  I can't use the towhee to realize it. Can you let me know Do you have a plan to make an example for "video question answer"? Thank you for your answer.

### Pros and Cons

_No response_

### Anything else? (Additional Context)

_No response_

[2022-09-26 22:57] filip-halt commented on #2108
This is being caused by `towhee.types.tensor_array.py`. Tensor array is imported in __init__ of towhee.types, causing the immediate install prompt on import towhee. @Chiiizzzy

[2022-09-27 07:01] wxywb commented on #2131
Its' due to transformers 4.22.1 add more strict parameters validation compared to 4.15.0. All **model_kwargs** in blip renamed to **kwargs** solved the problem.

[2022-09-27 07:03] binbinlv commented on #2131
OK，verified and fixed.
[code]

[2022-09-27 07:03] #2131 closed

[2022-09-27 07:59] binbinlv commented on #2127
@shiyu22
The channel is not right, please use channel "conda-forge".

conda install -c conda-forge towhee

[2022-09-27 09:08] shiyu22 commented on #2127
It works in my Mac, but still towhee0.4 in Ubuntu.

[2022-09-28 09:50] jaelgu commented on #2132
@wbc110460 Check this operator out: https://towhee.io/towhee/vilt-vqa . You can find examples in the README.

[2022-09-29 01:59] shiyu22 opened #2159 "[Bug]: No actions after update docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I updated the towhee/docs in branch0.8.0 #2153, but no action to update the doc with the [workflow](https://github.com/towhee-io/towhee/blob/main/.github/workflows/check-docs-update.yml).

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code

[2022-09-29 02:26] binbinlv commented on #2108
Verified, and it is fixed in the latest towhee versioin (0.8.1.dev389),

[2022-09-29 02:26] #2108 closed

[2022-09-29 08:03] #2159 closed

[2022-09-29 20:07] #1811 closed

[2022-09-30 04:35] #1818 closed

[2022-09-30 08:26] binbinlv commented on #2130
As discussed with dev, this is caused by the module conflict( env problem), when I changed the env, it is good now.

But the behavior when env has problem is not user friendly, so needs to improve here.

[2022-09-30 08:27] binbinlv commented on #2130
Considering this is not a block issue, so defer it to next release.

[2022-10-02 04:46] #1908 closed

[2022-10-04 02:29] #1652 closed

[2022-10-04 02:29] #1913 closed

[2022-10-05 14:01] #1933 closed

[2022-10-08 08:27] pengdaqian2020 opened #2182 "[Documentation]: add all operator introduce"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

some operator don't have document

like this
![image](https://user-images.githubusercontent.com/71140907/194697961-b291790c-0842-4677-9ae9-48dfeb0a9a68.png)

or this
.pipeline_config(format_priority=['tensorrt', 'onnx'])

and I notice that https://to

[2022-10-08 09:04] shiyu22 commented on #2182
Hi @pengdaqian2020, this pipeline includes three built-in functions(`dummy_input`, `pipeline_config` and `as_function`) and two operators(`image_decode.cv2_rgb` and `image_text_embedding.clip_image`), you can find all the operator in [this page](https://towhee.io/operators?limit=30&page=1), and refer to the [API docs](https://towhee.readthedocs.io/en/main/user_guide/index.html) for the func.

[2022-10-09 09:13] jaelgu opened #2186 "[Bug]: flatten() behaves differently using as_function()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When  `flatten()` is wrapped with `as_function`, it behaves differently from itself as basic operator.

[code]
<img width="242" alt="image" src="https://user-images.githubusercontent.com/86251631/194747944-beff010b-c8cb-46c9-b0f9-2fdec91275c8.png">

### Expected Behavior

Two methods above sh

[2022-10-09 18:23] pengdaqian2020 opened #2187 "[Bug]: Load operator: [dummy_input] failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]
[code]

### Expected Behavior

build succeed

### Steps To Reproduce

_No response_

### Environment

[code]

### Anything else?

_No response_

[2022-10-10 10:26] binbinlv commented on #2187
@shiyu22

could you help to have a look? Thanks.

[2022-10-10 11:43] shiyu22 commented on #2187
Hi @pengdaqian2020, it's an error pipeline, you can run with img_embedding_pipe(<your-url>) to check the function.

And there this is the correct pipeline:
[code]
Then you can run with `img_embedding_pipe('https://github.com/towhee-io/towhee/raw/main/towhee_logo.png')`.

Not that `drop_empty()` works when running `safe()`, the numba jit is for the callable functions and the `multiprocessing.cpu_co

[2022-10-10 12:04] wxywb commented on #2091
Hi, currently you can combine two operators to get the result.
[code]
<img width="678" alt="飞书20221010-200300" src="https://user-images.githubusercontent.com/5432721/194862167-257e5d95-767b-4ef7-aedb-362341d24f40.png">

[2022-10-11 08:37] wbc110460 commented on #1818
您好。我看咱们towheel支持视觉问答模型。但是那些例子里没有视觉问答的。 最近你们准备上一个这样的吗？

发自我的iPhone

------------------ Original ------------------
From: shiyu22 ***@***.***&gt;
Date: Wed,Aug 24,2022 9:52 AM
To: towhee-io/towhee ***@***.***&gt;
Cc: 王炳超 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [towhee-io/towhee] [Bug]: ValueError: operator image-decode/cv2 not found! (Issue #1818)

Hi @wbc110460 , which version of towh

[2022-10-12 07:39] SuperSupeng commented on #2127
When I use the command `pip install towhee towhee.models`, it occurs error in MacOS
[code]

[2022-10-12 07:44] SuperSupeng commented on #2127
BTW, when the python version is 3.6, `conda install -c conda-forge towhee` will take a long time to prepare the environment

[2022-10-13 07:11] binbinlv commented on #2127
@SuperSupeng
Thanks for the issue.

@Chiiizzzy

Could you please take a look here? Thanks.

[2022-10-13 07:39] Chiiizzzy commented on #2127
Hi, @SuperSupeng, which version of python are you using? `pygit2` supports 3.7 - 3.10 only, If you are using python 3.6, `pygit2` will fail to install. If you are using python 3.7+, could you please try:
[code]
You can refer to https://www.pygit2.org/install.html#installing-on-os-x

[2022-10-13 08:05] SuperSupeng commented on #2127
I use python 3.6 version. Suggest to change the description in the documentation to python 3.7 and above.

[2022-10-14 21:40] afj88 commented on #1913
Recently I've tried to use tritonclient on my mac M1 and I encountered this error

`File "/.../lmv1_triton_inference_client.py", line 7, in <module>
    import tritonclient.grpc as tritongrpcclient  # type: ignore
  File "/.../venv/lib/python3.10/site-packages/tritonclient/grpc/__init__.py", line 29, in <module>
    import grpc
  File "/.../venv/lib/python3.10/site-packages/grpc/__init__.py", line

[2022-10-17 05:04] #1303 closed

[2022-10-18 02:22] harivamsi9 commented on #1303
/reopen

[2022-10-18 09:20] yxz-git opened #2202 "AttributeError: 'Image' object has no attribute 'img'"
feat = towhee.dc([from_pil(img_data)]) \
            .object_detection.yolov5['img', ('boxes', 'class', 'score')]() \
            .runas_op[('img', 'boxes'), 'object'](func=get_object) \
            .image_embedding.timm(model_name='resnet50') \
            .runas_op(func=dim_reduce) \
            .tensor_normalize() \
            .to_list()

报如上的错误，请问是哪里写的有问题吗，不太了解towhee

[2022-10-20 02:24] dandv opened #2211 "[Documentation]: Missing image in the Quick Start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What kind of documentation would you like added or changed?

At https://docs.towhee.io/Getting%20Started/quick-start/#using-a-local-image, the image after `wget` returns 404.

### Why is this needed?

_No response_

### Anything else?

_No response_

[2022-10-20 05:07] fzliu commented on #2211
#2213

[2022-10-20 06:28] #2211 closed

[2022-10-21 01:31] wbc110460 opened #2217 "[DesignProposal]: Do you have a plan to make an example like text_image_question_answer?"
### Background and Motivation

Like the QA example, we have a pair of text, one is question, and the other is answer. And we just need to save the question_text_embedding. But in the real world, we often need that the same question in different scenes(images) can return different answers. So, I want to make this, we save the embedding of  concat(question and image) or plus(question and image), and

[2022-10-21 05:20] #2071 closed

[2022-10-21 17:39] #2073 closed

[2022-10-24 22:16] #1673 closed

[2022-10-27 05:48] #2082 closed

[2022-10-27 08:27] binbinlv opened #2234 "[Bug]: TypeError: unsupported operand type(s) for *: 'NoneType' and 'float' for operator "video-decoder""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

TypeError: unsupported operand type(s) for *: 'NoneType' and 'float' for operator "video-decoder"

[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-10-27 09:54] shiyu22 opened #2235 "[DesignProposal]: Concat node in DagRepr"
### Background and Motivation

Each node in `dag_dict` will have `inputs` and `outputs` schema, each node in `dag_repr` will have `in_edges` and `out_edges`, and edges will record the schema of the data required by all subsequent nodes, so in the case of **concat,** their edges will be more complex, some we will support, but some can throw exception directly.

### Design

If the schema after conca

[2022-10-27 12:46] junjiejiangjjj commented on #2235
[code]

[2022-10-27 13:02] upupbo opened #2236 "Can you provide the training code and training process of the image retrieval network CVNet"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

Can you provide the training code and training process of the image retrieval network CVNet

### Describe the solution you'd like.

_No response_

### Describe an alternate solution.

_No response_

### Anything else? (Additional Context)

_No re

[2022-10-27 14:17] junjiejiangjjj commented on #2234
AVDeprecationWarning: VideoStream.rate is deprecated as it is not always set; please use VideoStream.average_rate.
pyav lib change the `VideoStream.rate`   to the ` VideoStream.average_rate.`

[2022-10-28 01:50] shiyu22 commented on #2235
So will use the latest data(in the last pipeline) if there is the same schema?

[2022-10-31 02:35] #2076 closed

[2022-10-31 02:35] #2099 closed

[2022-10-31 02:35] #2093 closed

[2022-11-01 10:35] binbinlv commented on #2234
From the latest test, this issue has not appeared and fixed. So close it.

[2022-11-01 10:35] #2234 closed

[2022-11-01 11:54] junjiejiangjjj opened #2248 "[Bug]: object leak"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In operator_loader.py (https://github.com/towhee-io/towhee/blob/main/towhee/engine/operator_loader.py#L104), we use `pkg_resources` to check the dependency. But it will store the `frame` objects.

example:

[code]

It also will cause `dc` doesn't release the objects.

### Expected Behavior

_

[2022-11-02 02:51] #2235 closed

[2022-11-02 02:51] shiyu22 commented on #2235
The current DagRepr support to send all the data, and concat will cover the data before.

[2022-11-03 02:33] #2125 closed

[2022-11-03 09:46] #2248 closed

[2022-11-04 08:23] junjiejiangjjj opened #2259 "[Feature]: Show the dag."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Is your feature request related to a problem? Please describe.

Develop a tool to show this pipeline

[code]
![image](https://user-images.githubusercontent.com/14136703/199926428-2f3cc3d3-2c4f-477b-9ec4-332779eefa39.png)

### Describe the solution you'd like.

_No response_

### Describe an alternate solution

[2022-11-04 22:32] #2132 closed

[2022-11-07 02:38] binbinlv commented on #2130
Keep opening.

[2022-11-07 03:14] binbinlv opened #2262 "[Bug]: Op "image-text-embedding/lightningdot" runs failed reporting "urllib.error.HTTPError: HTTP Error 409: Public access is not permitted on this storage account""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Op "image-text-embedding/lightningdot" runs failed reporting "urllib.error.HTTPError: HTTP Error 409: Public access is not permitted on this storage account"
[code]

### Expected Behavior

No error

### Steps To Reproduce

[code]

### Environment

[code]

### Anything else?

_No response_

[2022-11-10 11:00] shiyu22 opened #2271 "[DesignProposal]: Perfermence Tracer for Nodes"
### Background and Motivation

Each pipeline contains several nodes and we need support to trace the performance of each node. And the metric of performance includes `preload time`, `runtime`, and `queue time` for the node, and `avg`, `max`, and `min` for the pipeline(total time), for example we will show the following performance results:
[code]

### Design

Set tracer for the pipeline or the spe

[2022-11-14 03:19] binbinlv commented on #2262
this error still exists in latest weekly:
https://github.com/towhee-io/towhee/actions/runs/3448758130/jobs/5756049941

[code]

[2022-11-14 07:38] wxywb commented on #2262
original pretrained weights links are no longer available. I will trace the problem and update the link when authors update their links.

[2022-11-15 01:14] #2182 closed

[2022-11-17 02:13] #2187 closed

[2022-11-17 02:13] #2186 closed

[2022-11-17 02:13] #2091 closed

[2022-11-17 03:43] NicoYuan1986 commented on #2262
/milestone 0.9.0

[2022-11-17 08:11] NicoYuan1986 opened #2284 "[Bug]: An error occurs when using 'lsS3' to view files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/109071306/202390283-bdf67df0-b592-4956-a307-d5c2ca2cb3ea.png)
The s3-path is right. But i met an error when using towhee command 'lsS3'.
This is the error line mentioned above(s3.py).
![image](https://user-images.githubusercontent.com/1090713

[2022-11-17 08:11] NicoYuan1986 commented on #2284
/Milestone 0.9.0

[2022-11-17 08:11] NicoYuan1986 commented on #2284
/milestone 0.9.0